@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  background-color: @navMorkGra;
  color: @white;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}

.endringslogg-container {
  margin-right: 1rem;
  color: black;

  :global(.collapse-header) {
    background-color: #3e3832;
  }
}

.container_dev header {
  background-color: #0a0;
}
