apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: ung-sak-web
  namespace: k9saksbehandling
  labels:
    team: k9saksbehandling
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "32k"
spec:
  image: { { image } }
  port: 9005
  liveness:
    path: /isAlive
    initialDelay: 10
  readiness:
    path: /isReady
    initialDelay: 10
  replicas:
    disableAutoScaling: true
    min: 2
    max: 2
  resources:
    requests:
      cpu: 200m
      memory: 32Mi
    limits:
      memory: 64Mi
  ingresses:
    - "https://ung.intern.nav.no"
  accessPolicy:
    outbound:
      rules:
        - application: ung-sak
        - application: ung-tilbake
  env:
    - name: APP_URL
      value: "http://ung-sak"
    - name: PORT
      value: "9005"
    - name: APP_URL_UNG_TILBAKE
      value: "http://ung-tilbake"
