.modal {
  width: 750px;

  :global(.skjemagruppe__legend) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}

.button {
  margin-right: 10px;
}

.forhandsvis {
  margin-left: -30px;
}
