@import url('@navikt/ds-tokens');

.leggTilOverstyringKnapp {
  margin-top: var(--ax-space-20);
  margin-bottom: var(--ax-space-20);
}

.overstyrUttakFormFooter {
  margin-top: var(--ax-space-20);
  margin-bottom: var(--ax-space-20);
}

.overstyringUttakTabell {
  width: auto;
  margin-top: var(--ax-space-16);
}
