@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.inline {
  display: inline;
}

.margin {
  margin-bottom: 16px;
}

.mainButton {
  margin: 12px 1.5625rem 12px 0;
  display: inline;
}

.buttonLink {
  background: none;
  border: 0;
  color: @navBla;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.smallTextArea {
  background-color: @white;
  border: 1px solid @navGra40;
  border-radius: @border-radius-base;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: 38px !important; // stylelint-disable-line declaration-no-important
  line-height: inherit;
  overflow: hidden;
  padding: 0.45rem;
  resize: none;
  transition: height 0.1s ease-out;
  width: 100%;
}

.brevAlertContainer {
  margin: 0.75rem 0;
}

.brevHeading {
  margin-bottom: 0.75rem;
}

.alignRight {
  text-align: right;
}

.knappContainer {
  border: none;
  background: #e6f0ff;
  border-radius: 4px;
  padding: 1.4375rem 1.75rem 0.9375rem;
  max-height: 9.875rem;
  order: 1;
  margin-top: 4.125rem;
  margin-right: 30px;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  legend {
    margin-bottom: 0.25rem;
  }
}

.begrensMaksBredde {
  max-width: 65%;
}

form {
  font-size: 14px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.previewLink {
  margin-left: -0.75rem;

  &--noIcon {
    text-decoration: underline;
  }
}

.fritekstbrevPanel {
  margin-top: 1.5625rem;
}

.brevFormContainer {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 1.4375rem 1.5625rem 1.1875rem;
}

.textAreaContainer {
  margin-top: 1.5625rem;

  &--readOnly {
    margin-top: 1rem;
  }
}

.aksjonspunktContainer {
  flex: 1 1 auto;
}
