.dokumentfilter {
  margin-right: -2.8125rem;
  position: relative;
}

.chevronDropdown__dropdown {
  position: absolute;
  top: -14px;
  left: -21px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 13px 13px 24px 16px;
  margin-left: 4px;
  z-index: 1;
  background-color: white;
}

button.chevronDropdown__toggleButton {
  border: none;
  background: none;
  padding: unset;
  color: black;
}

.chevronDropdown__toggleButton__text {
  display: inline;
  line-height: 19px;
}

.chevronDropdown__hidden {
  visibility: hidden;
}
