@import url('tailwindcss/base');
@import url('@navikt/ds-css');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');
@import url('dayPicker.css');

/* TODO Mesteparten i denne fila bør ikkje ligga her */
html {
  height: 100%;
}

body {
  background-color: var(--a-white);
  color: #262626;
  height: 100%;
  line-height: 1.4286;
  margin: 0;
}

#app {
  height: 100%;
}

/*
CSS-endringer för felleskomponenter og globaler så
som fra core/og muligen import fra alla andra komponenter
 */
.cal-wrap {
  width: 300px;
}

.textarea--medMeta__teller {
  color: #262626;
  font-size: 0.8rem;
  font-style: italic;
}

.skjemaelement > .skjemaelement__feilmelding {
  margin-top: 1rem;
}

.skjemaelement > .skjemaelement__input {
  padding: 9px;
}

.vis-timeline {
  border: 0;
  overflow: inherit !important;
}

.currentDate {
  display: none;
}

.soknad {
  background-color: var(--a-blue-600);
  pointer-events: none;
  top: 6px !important;
}

.soknad:after {
  background: transparent url('../../assets/images/soknad.svg') no-repeat;
  content: '';
  height: 20px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 20px;
}

.fodsel {
  background-color: #a32a17;
  pointer-events: none;
  top: 0 !important;
}

.fodsel:after {
  background: transparent url('../../assets/images/fodsel.svg') no-repeat;
  content: '';
  height: 20px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 20px;
}

.revurdering {
  background-color: var(--a-green-600);
  pointer-events: none;
  top: 12px !important;
}

.revurdering:after {
  background: transparent url('../../assets/images/endringstidspunkt.svg') no-repeat;
  content: '';
  height: 20px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 20px;
}

.lastDateInSoknad {
  display: none;
}

.vis-foreground .vis-group {
  border-bottom: 0;
}

.vis-text.vis-major > div {
  margin-top: 12px;
}

.opptjening .vis-text.vis-major > div {
  margin-top: 0;
}

.uttakTimeline .vis-text.vis-major > div {
  margin-top: 0;
}

.vis-item.vis-selected {
  border: 1px solid #4a4a4a;
}

.vis-item.vis-range {
  border-radius: 6px;
}

.vis-label .vis-inner {
  max-height: 50px;
}

.vis-custom-time {
  width: 1px;
}

.vis-item {
  top: 5px;
  transition: transform 0.2s;
}

.vis-item:hover {
  box-shadow: 2px 2px 1px rgb(0 0 0 / 30%);
  filter: brightness(80%);
  opacity: 1;
  transform: translateY(-3px);
}

.vis-item:active {
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  filter: brightness(95%);
  transform: translateY(-2px);
}

.grey {
  background-color: #c9c9c9;
  border-color: #a0a0a0;
  border-radius: 8px;
  opacity: 0.7;
}

.laastPeriode.vis-item.vis-selected {
  background-color: #c9c9c9;
  border-color: #a0a0a0;
  border-radius: 8px;
}

.grey.vis-item.vis-selected {
  background-color: #c9c9c9;
  border-color: #a0a0a0;
  border-radius: 8px;
  opacity: 0.7;
}

.gradert {
  background: var(--a-green-500)
    repeating-linear-gradient(
      45deg,
      var(--a-white),
      var(--a-white) 20%,
      transparent 20%,
      transparent 50%,
      var(--a-white) 50%
    );
  background-size: 12px 12px;
  opacity: 0.9;
}

.gradert.vis-item.vis-selected {
  background-color: var(--a-green-500);
  opacity: 1;
}

.gradert.vis-item.vis-selected:hover {
  transform: translateY(-1px);
}

.avslatt {
  background-color: transparent;
  border-color: rgb(186 58 38 / 50%);
  border-radius: 6px;
}

.avslatt:active {
  background-color: transparent;
}

.avvistPeriode {
  background-color: rgb(186 58 38 / 50%);
  border-color: rgb(201 201 201 / 50%);
  border-radius: 6px;
}

.vis-item.vis-range.avvistPeriode {
  background-color: rgb(186 58 38 / 50%);
  border-color: rgb(201 201 201 / 50%);
  border-radius: 8px;
}

.vis-item.vis-range.laastPeriode {
  border-radius: 8px;
}

.vis-item.vis-range.godkjentPeriode {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(201 201 201 / 50%);
  border-radius: 8px;
}

.avvistPeriode:active {
  background-color: #ba3a26;
  border-color: #c9c9c9;
}

.undefined {
  background-color: rgb(255 145 0 / 80%);
  border-color: rgb(255 145 0 / 80%);
  border-radius: 8px;
}

.undefined:active {
  background-color: var(--a-orange-200);
  border-color: var(--a-orange-500);
}

.undefined.vis-item.vis-selected {
  background-color: var(--a-orange-500);
  border: 1px solid #4a4a4a;
}

.avslatt.vis-item.vis-selected {
  background-color: #ba3a26;
}

.avvistPeriode.vis-item.vis-selected {
  background-color: #ba3a26;
}

.innvilget {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(6 137 58 / 50%);
  border-radius: 8px;
}

.godkjentPeriode {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(6 137 58 / 50%);
  border-radius: 8px;
}

.godkjentPeriode:active {
  background-color: var(--a-green-500);
  border-color: var(--a-green-500);
}

.vis-current-time {
  width: 0;
}

.godkjentPeriode.vis-item.vis-selected {
  background-color: var(--a-green-500);
  border-radius: 6px;
}

.mellomliggendePeriode {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(6 137 58 / 50%);
  border-radius: 8px;
  height: 12px;
  top: 12px !important;
}

.mellomliggendePeriode:active {
  background-color: var(--a-green-500);
  border-color: var(--a-green-500);
}

.mellomliggendePeriode.vis-item.vis-selected {
  background-color: var(--a-green-500);
  border-radius: 6px;
}

.innvilget.vis-item.vis-selected {
  background-color: var(--a-green-500);
  border-radius: 6px;
}

.innvilgetnullprosent {
  background-color: transparent;
  border-color: var(--a-green-500);
  border-radius: 8px;
}

.innvilgetnullprosent.vis-item.vis-selected {
  background-color: transparent;
  border-radius: 8px;
}

.opphold-manuell {
  background-color: transparent;
  border-color: var(--a-orange-500);
  border-radius: 6px;
}

.opphold-manuell.vis-item.vis-range {
  border-style: dashed;
}

.opphold-manuell.vis-item.vis-selected {
  background-color: transparent;
  border-color: var(--a-orange-500);
  border-radius: 6px;
  border-style: dashed;
  border-width: 1.5px;
}

.opphold {
  background-color: transparent;
  border-color: var(--a-green-500);
  border-radius: 6px;
}

.opphold.vis-item.vis-range {
  border-style: dashed;
}

.opphold.vis-item.vis-selected {
  background-color: transparent;
  border-color: var(--a-green-500);
  border-radius: 6px;
  border-style: dashed;
  border-width: 1.5px;
}

.vis-item.endretPeriode {
  border-top-color: var(--a-orange-500);
  border-top-width: 5px;
}

.opptjening .vis-center {
  border-bottom: 1px solid grey;
  border-left-style: none;
  border-right-style: none;
}

.opptjening .vis-text {
  border-top: 1px solid darkgrey;
  text-align: center;
}

.uttakTimeline .vis-time-axis .vis-text.vis-minor {
  border-top: 1px solid darkgrey;
  text-align: center;
}

.opptjening .vis-label {
  border-bottom: 0 solid;
  text-align: right;
}

.opptjening .vis-panel.vis-left {
  border-top-style: hidden;
  max-width: 150px;
}

.opptjening .vis-panel.vis-left .vis-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opptjening > .timeLineLight .vis-panel.vis-left {
  width: 0;
}

.opptjening .vis-panel.vis-top {
  margin-left: -1px;
}

.opptjening .timeLineLight .vis-panel.vis-top {
  margin-left: 0;
}

.opptjening .vis-panel > .vis-content {
  border-left: 0 solid;
}

.opptjening .vis-panel.vis-center {
  border-top-style: hidden;
}

.opptjening .vis-itemset > .vis-background {
  border-top: 1px solid darkgray;
}

.vis-timeline.vis-bottom {
  animation-duration: 2s;
  animation-name: fadeIn;
}

@media all and (-ms-high-contrast: none) {
  .vis-timeline.vis-bottom {
    animation-duration: 0s;
    animation-name: none;
  }

  .opptjening .vis-labelset .vis-label .vis-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}

@supports (-ms-ime-align: auto) {
  .opptjening .vis-labelset .vis-label .vis-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}

.opptjening .vis-foreground .vis-group:last-child {
  border-bottom: 1px solid darkgray;
}

.timeLineLight .vis-foreground .vis-group:last-child {
  border-left: 1px solid darkgray;
}

.opptjening .vis-january > div {
  display: none;
}

.opptjening .vis-content {
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
}

.opptjening .currentDate {
  display: none;
}

.opptjening .currentDate:after {
  display: none;
}

.godkjent {
  background-color: var(--a-green-200);
}

.avvist {
  background-color: #efa89d;
}

div .vis-tooltip {
  font-size: 10px;
  max-width: 300px;
  padding: 0 4px;
  white-space: normal;
}

.tableRowHighlight {
  background-color: var(--a-orange-100);
}

.tableRowHighlight:hover {
  background-color: var(--a-orange-100) !important;
}

input[type='number'] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

div[class^='SjekkFodselDokForm'] [class^='periodFieldArray_buttonRemove'] {
  margin-top: 42px;
}

.dodSoker {
  background-color: black;
  color: white;
  pointer-events: none;
  z-index: 0;
}

.dodSoker:after {
  background-color: black;
  color: white;
  content: 'Søker død';
  height: 20px;
  left: -40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
}

[class^='vis-custom-time barndod'] {
  background-color: black;
  color: white;
  pointer-events: none;
  z-index: 0;
}

[class^='vis-custom-time barndod']:after {
  background-color: black;
  color: white;
  content: 'Barn død';
  left: -40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
}

.navds-tabs__tab.harAksjonspunkt {
  border-top: 5px solid var(--a-orange-200) !important;
}

.snakkeboble .panel {
  width: 20rem;
}

.snakkeboble.snakkeboble__saksbehandler .panel {
  background: var(--a-purple-100);
}

.snakkeboble.snakkeboble__saksbehandler .snakkeboble__snakkebole-pil {
  background: var(--a-purple-100);
}

.snakkeboble.snakkeboble__beslutter .panel {
  background: var(--a-green-100);
}

.snakkeboble.snakkeboble__beslutter .snakkeboble__snakkebole-pil {
  background: var(--a-green-100);
}

.snakkeboble.snakkeboble__losningen .panel {
  background: #f1f1f1;
}

.snakkeboble.snakkeboble__losningen .snakkeboble__snakkebole-pil {
  background: #f1f1f1;
}

.snakkeboble.snakkeboble__bruker .panel {
  background: #fff2e0;
}

.snakkeboble.snakkeboble__bruker .snakkeboble__snakkebole-pil {
  background: #fff2e0;
}

.snakkeboble.snakkeboble__ekstern .panel {
  background: var(--a-lightblue-100);
}

.snakkeboble.snakkeboble__ekstern .snakkeboble__snakkebole-pil {
  background: var(--a-lightblue-100);
}

.snakkeboble__kompakt {
  box-shadow: none;
  margin-bottom: 0;
}

.snakkeboble__kompakt .panel {
  margin-bottom: 0;
}
