@import url('dayPicker.css');
@import url('@k9-sak-web/gui/tokens/tokens.css');
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@theme {
  --color-ax-bg-neutral-soft: var(--ax-bg-neutral-soft);
  --color-ax-bg-neutral-softA: var(--ax-bg-neutral-softA);
  --color-ax-bg-neutral-moderate: var(--ax-bg-neutral-moderate);
  --color-ax-bg-neutral-moderateA: var(--ax-bg-neutral-moderateA);
  --color-ax-bg-neutral-moderate-hover: var(--ax-bg-neutral-moderate-hover);
  --color-ax-bg-neutral-moderate-hoverA: var(--ax-bg-neutral-moderate-hoverA);
  --color-ax-bg-neutral-moderate-pressed: var(--ax-bg-neutral-moderate-pressed);
  --color-ax-bg-neutral-moderate-pressedA: var(--ax-bg-neutral-moderate-pressedA);
  --color-ax-bg-neutral-strong: var(--ax-bg-neutral-strong);
  --color-ax-bg-neutral-strong-hover: var(--ax-bg-neutral-strong-hover);
  --color-ax-bg-neutral-strong-pressed: var(--ax-bg-neutral-strong-pressed);
  --color-ax-bg-accent-soft: var(--ax-bg-accent-soft);
  --color-ax-bg-accent-softA: var(--ax-bg-accent-softA);
  --color-ax-bg-accent-moderate: var(--ax-bg-accent-moderate);
  --color-ax-bg-accent-moderateA: var(--ax-bg-accent-moderateA);
  --color-ax-bg-accent-moderate-hover: var(--ax-bg-accent-moderate-hover);
  --color-ax-bg-accent-moderate-hoverA: var(--ax-bg-accent-moderate-hoverA);
  --color-ax-bg-accent-moderate-pressed: var(--ax-bg-accent-moderate-pressed);
  --color-ax-bg-accent-moderate-pressedA: var(--ax-bg-accent-moderate-pressedA);
  --color-ax-bg-accent-strong: var(--ax-bg-accent-strong);
  --color-ax-bg-accent-strong-hover: var(--ax-bg-accent-strong-hover);
  --color-ax-bg-accent-strong-pressed: var(--ax-bg-accent-strong-pressed);
  --color-ax-bg-success-soft: var(--ax-bg-success-soft);
  --color-ax-bg-success-softA: var(--ax-bg-success-softA);
  --color-ax-bg-success-moderate: var(--ax-bg-success-moderate);
  --color-ax-bg-success-moderateA: var(--ax-bg-success-moderateA);
  --color-ax-bg-success-moderate-hover: var(--ax-bg-success-moderate-hover);
  --color-ax-bg-success-moderate-hoverA: var(--ax-bg-success-moderate-hoverA);
  --color-ax-bg-success-moderate-pressed: var(--ax-bg-success-moderate-pressed);
  --color-ax-bg-success-moderate-pressedA: var(--ax-bg-success-moderate-pressedA);
  --color-ax-bg-success-strong: var(--ax-bg-success-strong);
  --color-ax-bg-success-strong-hover: var(--ax-bg-success-strong-hover);
  --color-ax-bg-success-strong-pressed: var(--ax-bg-success-strong-pressed);
  --color-ax-bg-warning-soft: var(--ax-bg-warning-soft);
  --color-ax-bg-warning-softA: var(--ax-bg-warning-softA);
  --color-ax-bg-warning-moderate: var(--ax-bg-warning-moderate);
  --color-ax-bg-warning-moderateA: var(--ax-bg-warning-moderateA);
  --color-ax-bg-warning-moderate-hover: var(--ax-bg-warning-moderate-hover);
  --color-ax-bg-warning-moderate-hoverA: var(--ax-bg-warning-moderate-hoverA);
  --color-ax-bg-warning-moderate-pressed: var(--ax-bg-warning-moderate-pressed);
  --color-ax-bg-warning-moderate-pressedA: var(--ax-bg-warning-moderate-pressedA);
  --color-ax-bg-warning-strong: var(--ax-bg-warning-strong);
  --color-ax-bg-warning-strong-hover: var(--ax-bg-warning-strong-hover);
  --color-ax-bg-warning-strong-pressed: var(--ax-bg-warning-strong-pressed);
  --color-ax-bg-danger-soft: var(--ax-bg-danger-soft);
  --color-ax-bg-danger-softA: var(--ax-bg-danger-softA);
  --color-ax-bg-danger-moderate: var(--ax-bg-danger-moderate);
  --color-ax-bg-danger-moderateA: var(--ax-bg-danger-moderateA);
  --color-ax-bg-danger-moderate-hover: var(--ax-bg-danger-moderate-hover);
  --color-ax-bg-danger-moderate-hoverA: var(--ax-bg-danger-moderate-hoverA);
  --color-ax-bg-danger-moderate-pressed: var(--ax-bg-danger-moderate-pressed);
  --color-ax-bg-danger-moderate-pressedA: var(--ax-bg-danger-moderate-pressedA);
  --color-ax-bg-danger-strong: var(--ax-bg-danger-strong);
  --color-ax-bg-danger-strong-hover: var(--ax-bg-danger-strong-hover);
  --color-ax-bg-danger-strong-pressed: var(--ax-bg-danger-strong-pressed);
  --color-ax-bg-info-soft: var(--ax-bg-info-soft);
  --color-ax-bg-info-softA: var(--ax-bg-info-softA);
  --color-ax-bg-info-moderate: var(--ax-bg-info-moderate);
  --color-ax-bg-info-moderateA: var(--ax-bg-info-moderateA);
  --color-ax-bg-info-moderate-hover: var(--ax-bg-info-moderate-hover);
  --color-ax-bg-info-moderate-hoverA: var(--ax-bg-info-moderate-hoverA);
  --color-ax-bg-info-moderate-pressed: var(--ax-bg-info-moderate-pressed);
  --color-ax-bg-info-moderate-pressedA: var(--ax-bg-info-moderate-pressedA);
  --color-ax-bg-info-strong: var(--ax-bg-info-strong);
  --color-ax-bg-info-strong-hover: var(--ax-bg-info-strong-hover);
  --color-ax-bg-info-strong-pressed: var(--ax-bg-info-strong-pressed);
  --color-ax-bg-brand-magenta-soft: var(--ax-bg-brand-magenta-soft);
  --color-ax-bg-brand-magenta-softA: var(--ax-bg-brand-magenta-softA);
  --color-ax-bg-brand-magenta-moderate: var(--ax-bg-brand-magenta-moderate);
  --color-ax-bg-brand-magenta-moderateA: var(--ax-bg-brand-magenta-moderateA);
  --color-ax-bg-brand-magenta-moderate-hover: var(--ax-bg-brand-magenta-moderate-hover);
  --color-ax-bg-brand-magenta-moderate-hoverA: var(--ax-bg-brand-magenta-moderate-hoverA);
  --color-ax-bg-brand-magenta-moderate-pressed: var(--ax-bg-brand-magenta-moderate-pressed);
  --color-ax-bg-brand-magenta-moderate-pressedA: var(--ax-bg-brand-magenta-moderate-pressedA);
  --color-ax-bg-brand-magenta-strong: var(--ax-bg-brand-magenta-strong);
  --color-ax-bg-brand-magenta-strong-hover: var(--ax-bg-brand-magenta-strong-hover);
  --color-ax-bg-brand-magenta-strong-pressed: var(--ax-bg-brand-magenta-strong-pressed);
  --color-ax-bg-brand-beige-soft: var(--ax-bg-brand-beige-soft);
  --color-ax-bg-brand-beige-softA: var(--ax-bg-brand-beige-softA);
  --color-ax-bg-brand-beige-moderate: var(--ax-bg-brand-beige-moderate);
  --color-ax-bg-brand-beige-moderateA: var(--ax-bg-brand-beige-moderateA);
  --color-ax-bg-brand-beige-moderate-hover: var(--ax-bg-brand-beige-moderate-hover);
  --color-ax-bg-brand-beige-moderate-hoverA: var(--ax-bg-brand-beige-moderate-hoverA);
  --color-ax-bg-brand-beige-moderate-pressed: var(--ax-bg-brand-beige-moderate-pressed);
  --color-ax-bg-brand-beige-moderate-pressedA: var(--ax-bg-brand-beige-moderate-pressedA);
  --color-ax-bg-brand-beige-strong: var(--ax-bg-brand-beige-strong);
  --color-ax-bg-brand-beige-strong-hover: var(--ax-bg-brand-beige-strong-hover);
  --color-ax-bg-brand-beige-strong-pressed: var(--ax-bg-brand-beige-strong-pressed);
  --color-ax-bg-brand-blue-soft: var(--ax-bg-brand-blue-soft);
  --color-ax-bg-brand-blue-softA: var(--ax-bg-brand-blue-softA);
  --color-ax-bg-brand-blue-moderate: var(--ax-bg-brand-blue-moderate);
  --color-ax-bg-brand-blue-moderateA: var(--ax-bg-brand-blue-moderateA);
  --color-ax-bg-brand-blue-moderate-hover: var(--ax-bg-brand-blue-moderate-hover);
  --color-ax-bg-brand-blue-moderate-hoverA: var(--ax-bg-brand-blue-moderate-hoverA);
  --color-ax-bg-brand-blue-moderate-pressed: var(--ax-bg-brand-blue-moderate-pressed);
  --color-ax-bg-brand-blue-moderate-pressedA: var(--ax-bg-brand-blue-moderate-pressedA);
  --color-ax-bg-brand-blue-strong: var(--ax-bg-brand-blue-strong);
  --color-ax-bg-brand-blue-strong-hover: var(--ax-bg-brand-blue-strong-hover);
  --color-ax-bg-brand-blue-strong-pressed: var(--ax-bg-brand-blue-strong-pressed);
  --color-ax-bg-meta-purple-soft: var(--ax-bg-meta-purple-soft);
  --color-ax-bg-meta-purple-softA: var(--ax-bg-meta-purple-softA);
  --color-ax-bg-meta-purple-moderate: var(--ax-bg-meta-purple-moderate);
  --color-ax-bg-meta-purple-moderateA: var(--ax-bg-meta-purple-moderateA);
  --color-ax-bg-meta-purple-moderate-hover: var(--ax-bg-meta-purple-moderate-hover);
  --color-ax-bg-meta-purple-moderate-hoverA: var(--ax-bg-meta-purple-moderate-hoverA);
  --color-ax-bg-meta-purple-moderate-pressed: var(--ax-bg-meta-purple-moderate-pressed);
  --color-ax-bg-meta-purple-moderate-pressedA: var(--ax-bg-meta-purple-moderate-pressedA);
  --color-ax-bg-meta-purple-strong: var(--ax-bg-meta-purple-strong);
  --color-ax-bg-meta-purple-strong-hover: var(--ax-bg-meta-purple-strong-hover);
  --color-ax-bg-meta-purple-strong-pressed: var(--ax-bg-meta-purple-strong-pressed);
  --color-ax-bg-meta-lime-soft: var(--ax-bg-meta-lime-soft);
  --color-ax-bg-meta-lime-softA: var(--ax-bg-meta-lime-softA);
  --color-ax-bg-meta-lime-moderate: var(--ax-bg-meta-lime-moderate);
  --color-ax-bg-meta-lime-moderateA: var(--ax-bg-meta-lime-moderateA);
  --color-ax-bg-meta-lime-moderate-hover: var(--ax-bg-meta-lime-moderate-hover);
  --color-ax-bg-meta-lime-moderate-hoverA: var(--ax-bg-meta-lime-moderate-hoverA);
  --color-ax-bg-meta-lime-moderate-pressed: var(--ax-bg-meta-lime-moderate-pressed);
  --color-ax-bg-meta-lime-moderate-pressedA: var(--ax-bg-meta-lime-moderate-pressedA);
  --color-ax-bg-meta-lime-strong: var(--ax-bg-meta-lime-strong);
  --color-ax-bg-meta-lime-strong-hover: var(--ax-bg-meta-lime-strong-hover);
  --color-ax-bg-meta-lime-strong-pressed: var(--ax-bg-meta-lime-strong-pressed);
  --color-ax-bg-default: var(--ax-bg-default);
  --color-ax-bg-input: var(--ax-bg-input);
  --color-ax-bg-raised: var(--ax-bg-raised);
  --color-ax-bg-sunken: var(--ax-bg-sunken);
  --color-ax-bg-overlay: var(--ax-bg-overlay);
  --color-ax-text-neutral: var(--ax-text-neutral);
  --color-ax-text-neutral-subtle: var(--ax-text-neutral-subtle);
  --color-ax-text-neutral-decoration: var(--ax-text-neutral-decoration);
  --color-ax-text-neutral-contrast: var(--ax-text-neutral-contrast);
  --color-ax-text-accent: var(--ax-text-accent);
  --color-ax-text-accent-subtle: var(--ax-text-accent-subtle);
  --color-ax-text-accent-decoration: var(--ax-text-accent-decoration);
  --color-ax-text-accent-contrast: var(--ax-text-accent-contrast);
  --color-ax-text-success: var(--ax-text-success);
  --color-ax-text-success-subtle: var(--ax-text-success-subtle);
  --color-ax-text-success-decoration: var(--ax-text-success-decoration);
  --color-ax-text-success-contrast: var(--ax-text-success-contrast);
  --color-ax-text-warning: var(--ax-text-warning);
  --color-ax-text-warning-subtle: var(--ax-text-warning-subtle);
  --color-ax-text-warning-decoration: var(--ax-text-warning-decoration);
  --color-ax-text-warning-contrast: var(--ax-text-warning-contrast);
  --color-ax-text-danger: var(--ax-text-danger);
  --color-ax-text-danger-subtle: var(--ax-text-danger-subtle);
  --color-ax-text-danger-decoration: var(--ax-text-danger-decoration);
  --color-ax-text-danger-contrast: var(--ax-text-danger-contrast);
  --color-ax-text-info: var(--ax-text-info);
  --color-ax-text-info-subtle: var(--ax-text-info-subtle);
  --color-ax-text-info-decoration: var(--ax-text-info-decoration);
  --color-ax-text-info-contrast: var(--ax-text-info-contrast);
  --color-ax-text-brand-magenta: var(--ax-text-brand-magenta);
  --color-ax-text-brand-magenta-subtle: var(--ax-text-brand-magenta-subtle);
  --color-ax-text-brand-magenta-decoration: var(--ax-text-brand-magenta-decoration);
  --color-ax-text-brand-magenta-contrast: var(--ax-text-brand-magenta-contrast);
  --color-ax-text-brand-beige: var(--ax-text-brand-beige);
  --color-ax-text-brand-beige-subtle: var(--ax-text-brand-beige-subtle);
  --color-ax-text-brand-beige-decoration: var(--ax-text-brand-beige-decoration);
  --color-ax-text-brand-beige-contrast: var(--ax-text-brand-beige-contrast);
  --color-ax-text-brand-blue: var(--ax-text-brand-blue);
  --color-ax-text-brand-blue-subtle: var(--ax-text-brand-blue-subtle);
  --color-ax-text-brand-blue-decoration: var(--ax-text-brand-blue-decoration);
  --color-ax-text-brand-blue-contrast: var(--ax-text-brand-blue-contrast);
  --color-ax-text-meta-purple: var(--ax-text-meta-purple);
  --color-ax-text-meta-purple-subtle: var(--ax-text-meta-purple-subtle);
  --color-ax-text-meta-purple-decoration: var(--ax-text-meta-purple-decoration);
  --color-ax-text-meta-purple-contrast: var(--ax-text-meta-purple-contrast);
  --color-ax-text-meta-lime: var(--ax-text-meta-lime);
  --color-ax-text-meta-lime-subtle: var(--ax-text-meta-lime-subtle);
  --color-ax-text-meta-lime-decoration: var(--ax-text-meta-lime-decoration);
  --color-ax-text-meta-lime-contrast: var(--ax-text-meta-lime-contrast);
  --color-ax-text-logo: var(--ax-text-logo);
  --color-ax-border-neutral: var(--ax-border-neutral);
  --color-ax-border-neutral-subtle: var(--ax-border-neutral-subtle);
  --color-ax-border-neutral-subtleA: var(--ax-border-neutral-subtleA);
  --color-ax-border-neutral-strong: var(--ax-border-neutral-strong);
  --color-ax-border-accent: var(--ax-border-accent);
  --color-ax-border-accent-subtle: var(--ax-border-accent-subtle);
  --color-ax-border-accent-subtleA: var(--ax-border-accent-subtleA);
  --color-ax-border-accent-strong: var(--ax-border-accent-strong);
  --color-ax-border-success: var(--ax-border-success);
  --color-ax-border-success-subtle: var(--ax-border-success-subtle);
  --color-ax-border-success-subtleA: var(--ax-border-success-subtleA);
  --color-ax-border-success-strong: var(--ax-border-success-strong);
  --color-ax-border-warning: var(--ax-border-warning);
  --color-ax-border-warning-subtle: var(--ax-border-warning-subtle);
  --color-ax-border-warning-subtleA: var(--ax-border-warning-subtleA);
  --color-ax-border-warning-strong: var(--ax-border-warning-strong);
  --color-ax-border-danger: var(--ax-border-danger);
  --color-ax-border-danger-subtle: var(--ax-border-danger-subtle);
  --color-ax-border-danger-subtleA: var(--ax-border-danger-subtleA);
  --color-ax-border-danger-strong: var(--ax-border-danger-strong);
  --color-ax-border-info: var(--ax-border-info);
  --color-ax-border-info-subtle: var(--ax-border-info-subtle);
  --color-ax-border-info-subtleA: var(--ax-border-info-subtleA);
  --color-ax-border-info-strong: var(--ax-border-info-strong);
  --color-ax-border-brand-magenta: var(--ax-border-brand-magenta);
  --color-ax-border-brand-magenta-subtle: var(--ax-border-brand-magenta-subtle);
  --color-ax-border-brand-magenta-subtleA: var(--ax-border-brand-magenta-subtleA);
  --color-ax-border-brand-magenta-strong: var(--ax-border-brand-magenta-strong);
  --color-ax-border-brand-beige: var(--ax-border-brand-beige);
  --color-ax-border-brand-beige-subtle: var(--ax-border-brand-beige-subtle);
  --color-ax-border-brand-beige-subtleA: var(--ax-border-brand-beige-subtleA);
  --color-ax-border-brand-beige-strong: var(--ax-border-brand-beige-strong);
  --color-ax-border-brand-blue: var(--ax-border-brand-blue);
  --color-ax-border-brand-blue-subtle: var(--ax-border-brand-blue-subtle);
  --color-ax-border-brand-blue-subtleA: var(--ax-border-brand-blue-subtleA);
  --color-ax-border-brand-blue-strong: var(--ax-border-brand-blue-strong);
  --color-ax-border-meta-purple: var(--ax-border-meta-purple);
  --color-ax-border-meta-purple-subtle: var(--ax-border-meta-purple-subtle);
  --color-ax-border-meta-purple-subtleA: var(--ax-border-meta-purple-subtleA);
  --color-ax-border-meta-purple-strong: var(--ax-border-meta-purple-strong);
  --color-ax-border-meta-lime: var(--ax-border-meta-lime);
  --color-ax-border-meta-lime-subtle: var(--ax-border-meta-lime-subtle);
  --color-ax-border-meta-lime-subtleA: var(--ax-border-meta-lime-subtleA);
  --color-ax-border-meta-lime-strong: var(--ax-border-meta-lime-strong);
  --color-ax-border-focus: var(--ax-border-focus);
  --color-ax-neutral-100: var(--ax-neutral-100);
  --color-ax-neutral-200: var(--ax-neutral-200);
  --color-ax-neutral-300: var(--ax-neutral-300);
  --color-ax-neutral-400: var(--ax-neutral-400);
  --color-ax-neutral-500: var(--ax-neutral-500);
  --color-ax-neutral-600: var(--ax-neutral-600);
  --color-ax-neutral-700: var(--ax-neutral-700);
  --color-ax-neutral-800: var(--ax-neutral-800);
  --color-ax-neutral-900: var(--ax-neutral-900);
  --color-ax-neutral-1000: var(--ax-neutral-1000);
  --color-ax-neutral-000: var(--ax-neutral-000);
  --color-ax-neutral-100A: var(--ax-neutral-100A);
  --color-ax-neutral-200A: var(--ax-neutral-200A);
  --color-ax-neutral-300A: var(--ax-neutral-300A);
  --color-ax-neutral-400A: var(--ax-neutral-400A);
  --color-ax-accent-100: var(--ax-accent-100);
  --color-ax-accent-200: var(--ax-accent-200);
  --color-ax-accent-300: var(--ax-accent-300);
  --color-ax-accent-400: var(--ax-accent-400);
  --color-ax-accent-500: var(--ax-accent-500);
  --color-ax-accent-600: var(--ax-accent-600);
  --color-ax-accent-700: var(--ax-accent-700);
  --color-ax-accent-800: var(--ax-accent-800);
  --color-ax-accent-900: var(--ax-accent-900);
  --color-ax-accent-1000: var(--ax-accent-1000);
  --color-ax-accent-100A: var(--ax-accent-100A);
  --color-ax-accent-200A: var(--ax-accent-200A);
  --color-ax-accent-300A: var(--ax-accent-300A);
  --color-ax-accent-400A: var(--ax-accent-400A);
  --color-ax-success-100: var(--ax-success-100);
  --color-ax-success-200: var(--ax-success-200);
  --color-ax-success-300: var(--ax-success-300);
  --color-ax-success-400: var(--ax-success-400);
  --color-ax-success-500: var(--ax-success-500);
  --color-ax-success-600: var(--ax-success-600);
  --color-ax-success-700: var(--ax-success-700);
  --color-ax-success-800: var(--ax-success-800);
  --color-ax-success-900: var(--ax-success-900);
  --color-ax-success-1000: var(--ax-success-1000);
  --color-ax-success-100A: var(--ax-success-100A);
  --color-ax-success-200A: var(--ax-success-200A);
  --color-ax-success-300A: var(--ax-success-300A);
  --color-ax-success-400A: var(--ax-success-400A);
  --color-ax-warning-100: var(--ax-warning-100);
  --color-ax-warning-200: var(--ax-warning-200);
  --color-ax-warning-300: var(--ax-warning-300);
  --color-ax-warning-400: var(--ax-warning-400);
  --color-ax-warning-500: var(--ax-warning-500);
  --color-ax-warning-600: var(--ax-warning-600);
  --color-ax-warning-700: var(--ax-warning-700);
  --color-ax-warning-800: var(--ax-warning-800);
  --color-ax-warning-900: var(--ax-warning-900);
  --color-ax-warning-1000: var(--ax-warning-1000);
  --color-ax-warning-100A: var(--ax-warning-100A);
  --color-ax-warning-200A: var(--ax-warning-200A);
  --color-ax-warning-300A: var(--ax-warning-300A);
  --color-ax-warning-400A: var(--ax-warning-400A);
  --color-ax-danger-100: var(--ax-danger-100);
  --color-ax-danger-200: var(--ax-danger-200);
  --color-ax-danger-300: var(--ax-danger-300);
  --color-ax-danger-400: var(--ax-danger-400);
  --color-ax-danger-500: var(--ax-danger-500);
  --color-ax-danger-600: var(--ax-danger-600);
  --color-ax-danger-700: var(--ax-danger-700);
  --color-ax-danger-800: var(--ax-danger-800);
  --color-ax-danger-900: var(--ax-danger-900);
  --color-ax-danger-1000: var(--ax-danger-1000);
  --color-ax-danger-100A: var(--ax-danger-100A);
  --color-ax-danger-200A: var(--ax-danger-200A);
  --color-ax-danger-300A: var(--ax-danger-300A);
  --color-ax-danger-400A: var(--ax-danger-400A);
  --color-ax-info-100: var(--ax-info-100);
  --color-ax-info-200: var(--ax-info-200);
  --color-ax-info-300: var(--ax-info-300);
  --color-ax-info-400: var(--ax-info-400);
  --color-ax-info-500: var(--ax-info-500);
  --color-ax-info-600: var(--ax-info-600);
  --color-ax-info-700: var(--ax-info-700);
  --color-ax-info-800: var(--ax-info-800);
  --color-ax-info-900: var(--ax-info-900);
  --color-ax-info-1000: var(--ax-info-1000);
  --color-ax-info-100A: var(--ax-info-100A);
  --color-ax-info-200A: var(--ax-info-200A);
  --color-ax-info-300A: var(--ax-info-300A);
  --color-ax-info-400A: var(--ax-info-400A);
  --color-ax-brand-magenta-100: var(--ax-brand-magenta-100);
  --color-ax-brand-magenta-200: var(--ax-brand-magenta-200);
  --color-ax-brand-magenta-300: var(--ax-brand-magenta-300);
  --color-ax-brand-magenta-400: var(--ax-brand-magenta-400);
  --color-ax-brand-magenta-500: var(--ax-brand-magenta-500);
  --color-ax-brand-magenta-600: var(--ax-brand-magenta-600);
  --color-ax-brand-magenta-700: var(--ax-brand-magenta-700);
  --color-ax-brand-magenta-800: var(--ax-brand-magenta-800);
  --color-ax-brand-magenta-900: var(--ax-brand-magenta-900);
  --color-ax-brand-magenta-1000: var(--ax-brand-magenta-1000);
  --color-ax-brand-magenta-100A: var(--ax-brand-magenta-100A);
  --color-ax-brand-magenta-200A: var(--ax-brand-magenta-200A);
  --color-ax-brand-magenta-300A: var(--ax-brand-magenta-300A);
  --color-ax-brand-magenta-400A: var(--ax-brand-magenta-400A);
  --color-ax-brand-beige-100: var(--ax-brand-beige-100);
  --color-ax-brand-beige-200: var(--ax-brand-beige-200);
  --color-ax-brand-beige-300: var(--ax-brand-beige-300);
  --color-ax-brand-beige-400: var(--ax-brand-beige-400);
  --color-ax-brand-beige-500: var(--ax-brand-beige-500);
  --color-ax-brand-beige-600: var(--ax-brand-beige-600);
  --color-ax-brand-beige-700: var(--ax-brand-beige-700);
  --color-ax-brand-beige-800: var(--ax-brand-beige-800);
  --color-ax-brand-beige-900: var(--ax-brand-beige-900);
  --color-ax-brand-beige-1000: var(--ax-brand-beige-1000);
  --color-ax-brand-beige-100A: var(--ax-brand-beige-100A);
  --color-ax-brand-beige-200A: var(--ax-brand-beige-200A);
  --color-ax-brand-beige-300A: var(--ax-brand-beige-300A);
  --color-ax-brand-beige-400A: var(--ax-brand-beige-400A);
  --color-ax-brand-blue-100: var(--ax-brand-blue-100);
  --color-ax-brand-blue-200: var(--ax-brand-blue-200);
  --color-ax-brand-blue-300: var(--ax-brand-blue-300);
  --color-ax-brand-blue-400: var(--ax-brand-blue-400);
  --color-ax-brand-blue-500: var(--ax-brand-blue-500);
  --color-ax-brand-blue-600: var(--ax-brand-blue-600);
  --color-ax-brand-blue-700: var(--ax-brand-blue-700);
  --color-ax-brand-blue-800: var(--ax-brand-blue-800);
  --color-ax-brand-blue-900: var(--ax-brand-blue-900);
  --color-ax-brand-blue-1000: var(--ax-brand-blue-1000);
  --color-ax-brand-blue-100A: var(--ax-brand-blue-100A);
  --color-ax-brand-blue-200A: var(--ax-brand-blue-200A);
  --color-ax-brand-blue-300A: var(--ax-brand-blue-300A);
  --color-ax-brand-blue-400A: var(--ax-brand-blue-400A);
  --color-ax-meta-purple-100: var(--ax-meta-purple-100);
  --color-ax-meta-purple-200: var(--ax-meta-purple-200);
  --color-ax-meta-purple-300: var(--ax-meta-purple-300);
  --color-ax-meta-purple-400: var(--ax-meta-purple-400);
  --color-ax-meta-purple-500: var(--ax-meta-purple-500);
  --color-ax-meta-purple-600: var(--ax-meta-purple-600);
  --color-ax-meta-purple-700: var(--ax-meta-purple-700);
  --color-ax-meta-purple-800: var(--ax-meta-purple-800);
  --color-ax-meta-purple-900: var(--ax-meta-purple-900);
  --color-ax-meta-purple-1000: var(--ax-meta-purple-1000);
  --color-ax-meta-purple-100A: var(--ax-meta-purple-100A);
  --color-ax-meta-purple-200A: var(--ax-meta-purple-200A);
  --color-ax-meta-purple-300A: var(--ax-meta-purple-300A);
  --color-ax-meta-purple-400A: var(--ax-meta-purple-400A);
  --color-ax-meta-lime-100: var(--ax-meta-lime-100);
  --color-ax-meta-lime-200: var(--ax-meta-lime-200);
  --color-ax-meta-lime-300: var(--ax-meta-lime-300);
  --color-ax-meta-lime-400: var(--ax-meta-lime-400);
  --color-ax-meta-lime-500: var(--ax-meta-lime-500);
  --color-ax-meta-lime-600: var(--ax-meta-lime-600);
  --color-ax-meta-lime-700: var(--ax-meta-lime-700);
  --color-ax-meta-lime-800: var(--ax-meta-lime-800);
  --color-ax-meta-lime-900: var(--ax-meta-lime-900);
  --color-ax-meta-lime-1000: var(--ax-meta-lime-1000);
  --color-ax-meta-lime-100A: var(--ax-meta-lime-100A);
  --color-ax-meta-lime-200A: var(--ax-meta-lime-200A);
  --color-ax-meta-lime-300A: var(--ax-meta-lime-300A);
  --color-ax-meta-lime-400A: var(--ax-meta-lime-400A);
  --color-ax-radius-2: var(--ax-radius-2);
  --color-ax-radius-4: var(--ax-radius-4);
  --color-ax-radius-8: var(--ax-radius-8);
  --color-ax-radius-12: var(--ax-radius-12);
  --color-ax-radius-16: var(--ax-radius-16);
  --color-ax-radius-full: var(--ax-radius-full);
  --color-warning-yellow: #ff9100;
  --font-sans: 'Source Sans Pro', Arial, sans-serif;
}


/* TODO Mesteparten i denne fila bør ikkje ligga her */
html {
  height: 100%;
}

body {
  background-color: var(--ax-bg-default);
  color: #262626;
  height: 100%;
  line-height: 1.4286;
  margin: 0;
}

#app {
  height: 100%;
}

/*
CSS-endringer för felleskomponenter og globaler så
som fra core/og muligen import fra alla andra komponenter
 */
.cal-wrap {
  width: 300px;
}

.textarea--medMeta__teller {
  color: #262626;
  font-size: 0.8rem;
  font-style: italic;
}

.skjemaelement > .skjemaelement__feilmelding {
  margin-top: 1rem;
}

.skjemaelement > .skjemaelement__input {
  padding: 9px;
}

.vis-timeline {
  border: 0;
  overflow: inherit !important;
}

.currentDate {
  display: none;
}

.soknad {
  background-color: var(--ax-accent-700);
  pointer-events: none;
  top: 6px !important;
}

.soknad:after {
  background: transparent url('../../assets/images/soknad.svg') no-repeat;
  content: '';
  height: 20px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 20px;
}

.fodsel {
  background-color: #a32a17;
  pointer-events: none;
  top: 0 !important;
}

.fodsel:after {
  background: transparent url('../../assets/images/fodsel.svg') no-repeat;
  content: '';
  height: 20px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 20px;
}

.revurdering {
  background-color: var(--ax-success-700);
  pointer-events: none;
  top: 12px !important;
}

.revurdering:after {
  background: transparent url('../../assets/images/endringstidspunkt.svg') no-repeat;
  content: '';
  height: 20px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 20px;
}

.lastDateInSoknad {
  display: none;
}

.vis-foreground .vis-group {
  border-bottom: 0;
}

.vis-text.vis-major > div {
  margin-top: 12px;
}

.opptjening .vis-text.vis-major > div {
  margin-top: 0;
}

.uttakTimeline .vis-text.vis-major > div {
  margin-top: 0;
}

.vis-item.vis-selected {
  border: 1px solid #4a4a4a;
}

.vis-item.vis-range {
  border-radius: 6px;
}

.vis-label .vis-inner {
  max-height: 50px;
}

.vis-custom-time {
  width: 1px;
}

.vis-item {
  top: 5px;
  transition: transform 0.2s;
}

.vis-item:hover {
  box-shadow: 2px 2px 1px rgb(0 0 0 / 30%);
  filter: brightness(80%);
  opacity: 1;
  transform: translateY(-3px);
}

.vis-item:active {
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  filter: brightness(95%);
  transform: translateY(-2px);
}

.grey {
  background-color: #c9c9c9;
  border-color: #a0a0a0;
  border-radius: 8px;
  opacity: 0.7;
}

.laastPeriode.vis-item.vis-selected {
  background-color: #c9c9c9;
  border-color: #a0a0a0;
  border-radius: 8px;
}

.grey.vis-item.vis-selected {
  background-color: #c9c9c9;
  border-color: #a0a0a0;
  border-radius: 8px;
  opacity: 0.7;
}

.gradert {
  background: var(--ax-success-600)
    repeating-linear-gradient(
      45deg,
      var(--ax-bg-default),
      var(--ax-bg-default) 20%,
      transparent 20%,
      transparent 50%,
      var(--ax-bg-default) 50%
    );
  background-size: 12px 12px;
  opacity: 0.9;
}

.gradert.vis-item.vis-selected {
  background-color: var(--ax-success-600);
  opacity: 1;
}

.gradert.vis-item.vis-selected:hover {
  transform: translateY(-1px);
}

.avslatt {
  background-color: transparent;
  border-color: rgb(186 58 38 / 50%);
  border-radius: 6px;
}

.avslatt:active {
  background-color: transparent;
}

.avvistPeriode {
  background-color: rgb(186 58 38 / 50%);
  border-color: rgb(201 201 201 / 50%);
  border-radius: 6px;
}

.vis-item.vis-range.avvistPeriode {
  background-color: rgb(186 58 38 / 50%);
  border-color: rgb(201 201 201 / 50%);
  border-radius: 8px;
}

.vis-item.vis-range.laastPeriode {
  border-radius: 8px;
}

.vis-item.vis-range.godkjentPeriode {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(201 201 201 / 50%);
  border-radius: 8px;
}

.avvistPeriode:active {
  background-color: #ba3a26;
  border-color: #c9c9c9;
}

.avslatt.vis-item.vis-selected {
  background-color: #ba3a26;
}

.avvistPeriode.vis-item.vis-selected {
  background-color: #ba3a26;
}

.innvilget {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(6 137 58 / 50%);
  border-radius: 8px;
}

.godkjentPeriode {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(6 137 58 / 50%);
  border-radius: 8px;
}

.godkjentPeriode:active {
  background-color: var(--ax-success-600);
  border-color: var(--ax-success-600);
}

.vis-current-time {
  width: 0;
}

.godkjentPeriode.vis-item.vis-selected {
  background-color: var(--ax-success-600);
  border-radius: 6px;
}

.mellomliggendePeriode {
  background-color: rgb(6 137 58 / 50%);
  border-color: rgb(6 137 58 / 50%);
  border-radius: 8px;
  height: 12px;
  top: 12px !important;
}

.mellomliggendePeriode:active {
  background-color: var(--ax-success-600);
  border-color: var(--ax-success-600);
}

.mellomliggendePeriode.vis-item.vis-selected {
  background-color: var(--ax-success-600);
  border-radius: 6px;
}

.innvilget.vis-item.vis-selected {
  background-color: var(--ax-success-600);
  border-radius: 6px;
}

.innvilgetnullprosent {
  background-color: transparent;
  border-color: var(--ax-success-600);
  border-radius: 8px;
}

.innvilgetnullprosent.vis-item.vis-selected {
  background-color: transparent;
  border-radius: 8px;
}

.opphold-manuell {
  background-color: transparent;
  border-color: var(--ax-warning-600);
  border-radius: 6px;
}

.opphold-manuell.vis-item.vis-range {
  border-style: dashed;
}

.opphold-manuell.vis-item.vis-selected {
  background-color: transparent;
  border-color: var(--ax-warning-600);
  border-radius: 6px;
  border-style: dashed;
  border-width: 1.5px;
}

.opphold {
  background-color: transparent;
  border-color: var(--ax-success-600);
  border-radius: 6px;
}

.opphold.vis-item.vis-range {
  border-style: dashed;
}

.opphold.vis-item.vis-selected {
  background-color: transparent;
  border-color: var(--ax-success-600);
  border-radius: 6px;
  border-style: dashed;
  border-width: 1.5px;
}

.vis-item.endretPeriode {
  border-top-color: var(--ax-warning-600);
  border-top-width: 5px;
}

.opptjening .vis-center {
  border-bottom: 1px solid grey;
  border-left-style: none;
  border-right-style: none;
}

.opptjening .vis-text {
  border-top: 1px solid darkgrey;
  text-align: center;
}

.uttakTimeline .vis-time-axis .vis-text.vis-minor {
  border-top: 1px solid darkgrey;
  text-align: center;
}

.opptjening .vis-label {
  border-bottom: 0 solid;
  text-align: right;
}

.opptjening .vis-panel.vis-left {
  border-top-style: hidden;
  max-width: 150px;
}

.opptjening .vis-panel.vis-left .vis-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opptjening > .timeLineLight .vis-panel.vis-left {
  width: 0;
}

.opptjening .vis-panel.vis-top {
  margin-left: -1px;
}

.opptjening .timeLineLight .vis-panel.vis-top {
  margin-left: 0;
}

.opptjening .vis-panel > .vis-content {
  border-left: 0 solid;
}

.opptjening .vis-panel.vis-center {
  border-top-style: hidden;
}

.opptjening .vis-itemset > .vis-background {
  border-top: 1px solid darkgray;
}

.vis-timeline.vis-bottom {
  animation-duration: 2s;
  animation-name: fadeIn;
}

@media all and (-ms-high-contrast: none) {
  .vis-timeline.vis-bottom {
    animation-duration: 0s;
    animation-name: none;
  }

  .opptjening .vis-labelset .vis-label .vis-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}

@supports (-ms-ime-align: auto) {
  .opptjening .vis-labelset .vis-label .vis-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}

.opptjening .vis-foreground .vis-group:last-child {
  border-bottom: 1px solid darkgray;
}

.timeLineLight .vis-foreground .vis-group:last-child {
  border-left: 1px solid darkgray;
}

.opptjening .vis-january > div {
  display: none;
}

.opptjening .vis-content {
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
}

.opptjening .currentDate {
  display: none;
}

.opptjening .currentDate:after {
  display: none;
}

.godkjent {
  background-color: var(--ax-success-300);
}

.avvist {
  background-color: #efa89d;
}

div .vis-tooltip {
  font-size: 10px;
  max-width: 300px;
  padding: 0 4px;
  white-space: normal;
}

.tableRowHighlight {
  background-color: var(--ax-warning-200);
}

.tableRowHighlight:hover {
  background-color: var(--ax-warning-200) !important;
}

input[type='number'] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

div[class^='SjekkFodselDokForm'] [class^='periodFieldArray_buttonRemove'] {
  margin-top: 42px;
}

.dodSoker {
  background-color: black;
  color: white;
  pointer-events: none;
  z-index: 0;
}

.dodSoker:after {
  background-color: black;
  color: white;
  content: 'Søker død';
  height: 20px;
  left: -40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
}

[class^='vis-custom-time barndod'] {
  background-color: black;
  color: white;
  pointer-events: none;
  z-index: 0;
}

[class^='vis-custom-time barndod']:after {
  background-color: black;
  color: white;
  content: 'Barn død';
  left: -40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
}

.aksel-tabs__tab.harAksjonspunkt {
  border-top: 5px solid var(--ax-warning-300) !important;
}

.snakkeboble .panel {
  width: 20rem;
}

.snakkeboble.snakkeboble__saksbehandler .panel {
  background: var(--ax-meta-purple-200);
}

.snakkeboble.snakkeboble__saksbehandler .snakkeboble__snakkebole-pil {
  background: var(--ax-meta-purple-200);
}

.snakkeboble.snakkeboble__beslutter .panel {
  background: var(--ax-success-200);
}

.snakkeboble.snakkeboble__beslutter .snakkeboble__snakkebole-pil {
  background: var(--ax-success-200);
}

.snakkeboble.snakkeboble__losningen .panel {
  background: #f1f1f1;
}

.snakkeboble.snakkeboble__losningen .snakkeboble__snakkebole-pil {
  background: #f1f1f1;
}

.snakkeboble.snakkeboble__bruker .panel {
  background: #fff2e0;
}

.snakkeboble.snakkeboble__bruker .snakkeboble__snakkebole-pil {
  background: #fff2e0;
}

.snakkeboble.snakkeboble__ekstern .panel {
  background: var(--ax-bg-moderate);
}

.snakkeboble.snakkeboble__ekstern .snakkeboble__snakkebole-pil {
  background: var(--ax-bg-moderate);
}

.snakkeboble__kompakt {
  box-shadow: none;
  margin-bottom: 0;
}

.snakkeboble__kompakt .panel {
  margin-bottom: 0;
}
