@import '@{coreModulePath}nav-frontend-core/less/core';

@navRodLighten20: mix(@navRod, #fff, 80%);
@navRodLighten40: mix(@navRod, #fff, 60%);
@navRodLighten60: mix(@navRod, #fff, 40%);
@navRodLighten80: mix(@navRod, #fff, 20%);

@navRodDarken20: mix(@navRod, #3e3832, 80%);
@navRodDarken40: mix(@navRod, #3e3832, 60%);
@navRodDarken60: mix(@navRod, #3e3832, 40%);
@navRodDarken80: mix(@navRod, #3e3832, 20%);
