@orangeFocus: #ffbd66;

@orangeFocusLighten20: mix(@orangeFocus, #fff, 80%);
@orangeFocusLighten40: mix(@orangeFocus, #fff, 60%);
@orangeFocusLighten60: mix(@orangeFocus, #fff, 40%);
@orangeFocusLighten80: mix(@orangeFocus, #fff, 20%);

@orangeFocusDarken20: mix(@orangeFocus, #3e3832, 80%);
@orangeFocusDarken40: mix(@orangeFocus, #3e3832, 60%);
@orangeFocusDarken60: mix(@orangeFocus, #3e3832, 40%);
@orangeFocusDarken80: mix(@orangeFocus, #3e3832, 20%);
