.contentContainer {
  flex: 1;
}

.sideMenuContainer {
  margin: 0 32px 0 0;
}

.sideMenuContainer > div {
  height: auto;
}

.mainContainerWithSideMenu {
  display: flex;
  margin-left: -8px;
}

.warningIcon {
  margin-left: 1rem;
}
