button.button {
  margin-top: 10px;
}

.divider {
  border-left: 1px solid #a0a0a0;
  border-right: 0 solid #a0a0a0;
  display: inline;
  float: right;
  height: 37px;
  margin-left: 15px;
  position: absolute;
  top: 5px;
}

.image {
  margin-top: 10px;
}

.modal {
  width: 750px;
}
