.vurderingDokumentfilter {
  margin-right: -2.25rem;
}
.chevronDropdown__dropdown {
  position: absolute;
  top: -0.875rem;
  left: -1.3125rem;
  border: 1px solid black;
  border-radius: 0.1875rem;
  padding: 0.8125rem 0.8125rem 0.8125rem 1rem;
  margin-left: 0.25rem;
  z-index: 1;
  background-color: white;
}
.chevronDropdown__dropdown__checkbox div {
  margin: 0.625rem 0;
}
.chevronDropdown__toggleButton {
  border: none;
  background: none;
  padding: unset;
}
.chevronDropdown__toggleButton__text {
  display: inline;
  line-height: 1.1875rem;
  margin-right: 0.375rem;
}
.chevronDropdown__hidden {
  visibility: hidden;
}
