/*
Overskriver css på Button slik at størrelse blir styrt av omkringliggande tekst. Unngår med det at ein liten tekst får for stor linje fordi ein ønsker ein liten inline knapp i teksten.
*/
.textsizedButton {
  /* stylelint-disable-next-line custom-property-pattern */
  --__axc-button-icon-size: unset;
  /* stylelint-disable-next-line custom-property-pattern */
  --ax-space-12: 2px;

  vertical-align: middle;
}
