.contentContainer {
  flex: 1;
}

.sideMenuContainer {
  flex-shrink: 0;
  margin: 0 32px 0 0;
}

.sideMenuContainer > div {
  height: auto;
}

.mainContainerWithSideMenu {
  display: flex;
  margin-left: -8px;
}
