.etablertTilsynMedSmoringTabell {
  max-width: 800px;
}

.etablertTilsynMedSmoringTabell .visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
