/*!***********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/fakta-direkte-overgang/src/components/ManglerSøknadForm.module.css ***!
  \***********************************************************************************************************************************************************/
.ManglerSøknadForm-module_container_iEb4F {
  width: 100%;
}

.ManglerSøknadForm-module_buttonBar_HMKMy {
  display: flex;
}

.ManglerSøknadForm-module_button_VULZd {
  margin-right: 1rem;
}

/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/behandling-pleiepenger/src/components/utenlandsopphold.module.css ***!
  \**********************************************************************************************************************************************************/
.utenlandsopphold-module_utenlandsopphold__zxL7 {
  max-width: 900px;
}

.utenlandsopphold-module_utenlandsopphold__info__zPU3 {
  background: inherit !important;
  border: none !important;
}

.utenlandsopphold-module_utenlandsopphold__info__zPU3 .ekspanderbartPanel__tittel {
  font-size: 16px;
}

.utenlandsopphold-module_utenlandsopphold__info__zPU3 .ekspanderbartPanel__hode {
  padding: 0.25rem;
}

.utenlandsopphold-module_utenlandsopphold__info__zPU3 .ekspanderbartPanel__flex-wrapper {
  gap: 10px;
  justify-content: normal;
}

.utenlandsopphold-module_utenlandsopphold__info__zPU3:hover {
  border: none !important;
  box-shadow: none !important;
}

.utenlandsopphold-module_alertstripe__Y237 .utenlandsopphold-module_alertstripe__tekst_ROm9F {
  max-width: 100%;
}

.utenlandsopphold-module_alertstripe__Y237 .navds-alert__wrapper {
  max-width: 100%;
}

