/*!*************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/timeline/tilbakekrevingTimeline.module.css ***!
  \*************************************************************************************************************************************************************************/
/* TODO (TOR) Fjern import av global.less etter refaktorering av timeline. Hack for å tving korrekt rekkefølge etter splitt av css */
.tilbakekrevingTimeline-module_vis-item_kNej9.tilbakekrevingTimeline-module_vis-dot_SeLNu {
  border-width: 1px;
}

/* our custom classes overrule the styles for selected events,
   so lets define a new style for the selected events */
.tilbakekrevingTimeline-module_vis-item_kNej9.tilbakekrevingTimeline-module_vis-selected_z1C8o {
  background-color: var(--a-white);
  border-color: black;
  box-shadow: 0 0 10px gray;
  color: black;
}

.tilbakekrevingTimeline-module_vis-timeline_FIjUJ {
  border: 0;
}

.tilbakekrevingTimeline-module_timelineContainer_Rx1tv {
  animation-duration: 2s;
  animation-name: tilbakekrevingTimeline-module_fadein_GTXL5;
  animation-timing-function: ease-out;
  background-color: var(--a-white);
  max-height: 1600px;
  position: relative;
  transition: all 2s;
  width: 100%;
}

.tilbakekrevingTimeline-module_timelineContainerExpanded_tDWDc {
  animation: tilbakekrevingTimeline-module_open_VWiJ3;
  animation-duration: 0.8s;
  max-height: 1600px;
  transition: all 2s;
}

.tilbakekrevingTimeline-module_iconContainer_Bv4lQ {
  width: 100px;
}

.tilbakekrevingTimeline-module_timeLineWrapper_Ve6mn {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  margin-left: -17px;
  padding-right: 0;
}

.tilbakekrevingTimeline-module_timeLineWrapper_Ve6mn:before {
  border-bottom: 1px solid lightgrey;
  bottom: 0;
  content: '';
  left: -70px;
  position: absolute;
  width: 70px;
}

.tilbakekrevingTimeline-module_sokerContainer_xJFIX {
  max-width: 100px;
}

.tilbakekrevingTimeline-module_iconMedsoker_Slw45 {
  position: absolute;
  right: 25px;
  top: 64px;
  width: 25px;
}

/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/splittePerioder/delOppPeriodeModal.module.css ***!
  \****************************************************************************************************************************************************************************/
.delOppPeriodeModal-module_modal_wu8aA {
  overflow: visible;
  width: 400px;
}

.delOppPeriodeModal-module_button_ixl4W {
  padding-left: 36px;
  padding-right: 36px;
}

.delOppPeriodeModal-module_cancelButton_XPxCv {
  margin: 0 10px 0 10px;
}

.delOppPeriodeModal-module_datePicker_JC9gS {
  display: inline-block;
  margin-left: -25px;
  margin-top: -4px;
  position: absolute;
}

.delOppPeriodeModal-module_marginTop_FzfOO {
  margin-top: 10px;
}

/*!***************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/splittePerioder/periodeController.module.css ***!
  \***************************************************************************************************************************************************************************/
.periodeController-module_timeLineButton_egoaX {
  background-color: var(--a-white);
  border: 0 solid;
  height: 26px;
  margin-left: 8px;
  width: 26px;
}

.periodeController-module_timeLineButton_egoaX:focus {
  box-shadow: 0 0 0 3px #ffbd66;
  outline: none;
}

.periodeController-module_timeLineButton_egoaX img:last-child {
  display: none;
}

.periodeController-module_timeLineButton_egoaX:hover img:first-child {
  display: none;
}

.periodeController-module_timeLineButton_egoaX:hover img:last-child {
  display: inline-block;
}

.periodeController-module_timeLineButton_egoaX:active img:last-child {
  display: inline-block;
}

.periodeController-module_splitPeriodImage_xs91q {
  cursor: pointer;
  margin-left: 12px;
  margin-right: 4px;
  padding-bottom: 4px;
}

.periodeController-module_splitPeriodPosition_nbPiG {
  margin-left: -30px;
}

/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/splittePerioder/periodeInformasjon.module.css ***!
  \****************************************************************************************************************************************************************************/
.periodeInformasjon-module_infoSummary_G7pol {
  background-color: var(--a-white) 2;
  height: auto;
  max-width: 500px;
  padding: 10px 20px 10px;
  top: 0;
}

.periodeInformasjon-module_ingenPerioder_WO25D {
  font-weight: bold;
}

.periodeInformasjon-module_resultSum_DYeEi {
  margin-top: 15px;
}

.periodeInformasjon-module_resultSum_DYeEi .periodeInformasjon-module_number_dvfz3 {
  float: left;
  font-weight: bold;
}

.periodeInformasjon-module_resultSum_DYeEi .periodeInformasjon-module_redNumbers_nV5Cm .periodeInformasjon-module_positivNumber_XuYRL {
  font-weight: bold;
  margin-left: 8px;
}

.periodeInformasjon-module_resultSum_DYeEi .periodeInformasjon-module_redNumbers_nV5Cm .periodeInformasjon-module_redNumber_LNNeP {
  color: var(--a-nav-red);
  font-weight: bold;
  margin-left: 8px;
}

.periodeInformasjon-module_resultSum_DYeEi .periodeInformasjon-module_redNumbers_nV5Cm .periodeInformasjon-module_lastNumberRed_nQvMk {
  color: var(--a-nav-red);
  font-weight: bold;
  padding-left: 15px;
}

.periodeInformasjon-module_resultSum_DYeEi .periodeInformasjon-module_redNumbers_nV5Cm .periodeInformasjon-module_lastNumberPositiv_QPeLZ {
  font-weight: bold;
  padding-left: 15px;
}

.periodeInformasjon-module_resultName_VRwBP {
  width: 170px;
}

/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/tilbakekrevingPeriodePaneler/tilbakekrevingAktivitetTabell.module.css ***!
  \****************************************************************************************************************************************************************************************************/
.tilbakekrevingAktivitetTabell-module_feilutbetalingTable_NeFaL {
  width: 400px;
}

.tilbakekrevingAktivitetTabell-module_feilutbetalingTable_NeFaL td:first-child {
  padding-left: 5;
}

.tilbakekrevingAktivitetTabell-module_feilutbetalingTable_NeFaL td:last-child {
  padding-right: 5;
  text-align: right;
}

/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/tilbakekrevingPeriodePaneler/aktsomhet/aktsomhetReduksjonAvBelopFormPanel.module.css ***!
  \*******************************************************************************************************************************************************************************************************************/
.aktsomhetReduksjonAvBelopFormPanel-module_suffix_UqNgK {
  align-content: center;
  margin: auto;
  margin-left: -8px;
  padding-bottom: 8px;
}

.aktsomhetReduksjonAvBelopFormPanel-module_suffixGrovText_TlN_9 {
  align-content: center;
  margin: auto;
  margin-left: -12px;
}

.aktsomhetReduksjonAvBelopFormPanel-module_labelPadding_BM26P {
  padding-top: 15px;
}

/*!*****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/tilbakekrevingPeriodePaneler/aktsomhet/aktsomhetGradUaktsomhetFormPanel.module.css ***!
  \*****************************************************************************************************************************************************************************************************************/
.aktsomhetGradUaktsomhetFormPanel-module_explanationTextarea_Cqf9d {
  min-height: 120px;
  resize: none;
}

/*!************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/tilbakekrevingPeriodePaneler/godTro/belopetMottattIGodTroFormPanel.module.css ***!
  \************************************************************************************************************************************************************************************************************/
.belopetMottattIGodTroFormPanel-module_arrowbox_TJSIb {
  width: 300px;
}

/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-tilbakekreving/src/components/tilbakekrevingPeriodeForm.module.css ***!
  \*******************************************************************************************************************************************************************/
.tilbakekrevingPeriodeForm-module_container_V7opk {
  animation-duration: 1s;
  animation-name: tilbakekrevingPeriodeForm-module_fadein_Gefo2;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  color: black;
  margin-top: 8px;
  padding: 20px;
}

.tilbakekrevingPeriodeForm-module_explanationTextarea_ujQea {
  min-height: 100px;
  resize: none;
}

/*!**********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-vedtak-tilbakekreving/src/components/tilbakekrevingVedtakPeriodeTabell.module.css ***!
  \**********************************************************************************************************************************************************************************/
.tilbakekrevingVedtakPeriodeTabell-module_table_bvfHu {
  max-width: 1000px;
}

/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-vedtak-tilbakekreving/src/components/brev/tilbakekrevingVedtakUtdypendeTekstPanel.module.css ***!
  \*********************************************************************************************************************************************************************************************/
.tilbakekrevingVedtakUtdypendeTekstPanel-module_addCircleIcon_cWS99,
.tilbakekrevingVedtakUtdypendeTekstPanel-module_imageText_LDxeA {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}

.tilbakekrevingVedtakUtdypendeTekstPanel-module_addPeriode_ggjXI {
  cursor: pointer;
}

/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-vedtak-tilbakekreving/src/components/brev/tilbakekrevingEditerVedtaksbrevPanel.module.css ***!
  \******************************************************************************************************************************************************************************************/
.tilbakekrevingEditerVedtaksbrevPanel-module_container_SdOpd {
  max-width: 1000px;
}

.tilbakekrevingEditerVedtaksbrevPanel-module_panel_ZLvEh {
  border: 1px solid black;
  padding: 1px 1px 1px 1px;
}

.tilbakekrevingEditerVedtaksbrevPanel-module_panelMedGulmarkering_uLA8z {
  border: 1px solid black;
  border-left-color: #fa3;
  border-left-width: 5px;
  padding: 1px 1px 1px 1px;
}

/*!*************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/prosess-vedtak-tilbakekreving/src/components/tilbakekrevingVedtakForm.module.css ***!
  \*************************************************************************************************************************************************************************/
.tilbakekrevingVedtakForm-module_buttonLink_KASxM {
  background: none;
  border: 0;
  color: var(--a-blue-500);
  cursor: pointer;
  font: inherit;
}

.tilbakekrevingVedtakForm-module_padding_eBiCn {
  padding-top: 7px;
}

.tilbakekrevingVedtakForm-module_infoTextContainer_pASDg {
  max-width: 710px;
}

.tilbakekrevingVedtakForm-module_infoTextIconColumn_EBKX7 {
  padding-left: 16px;
  padding-right: 0;
}

.tilbakekrevingVedtakForm-module_infoTextIcon_Jj61_ {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}

.tilbakekrevingVedtakForm-module_infotextColumn_R4J8g {
  font-weight: normal;
  padding-left: 0;
}

/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/fakta-feilutbetaling/src/components/feilutbetalingPerioderTable.module.css ***!
  \*******************************************************************************************************************************************************************/
.feilutbetalingPerioderTable-module_feilutbetalingTable_GWzFB td:first-child {
  padding-left: 0;
}

.feilutbetalingPerioderTable-module_feilutbetalingTable_GWzFB td:last-child {
  padding-right: 0;
  text-align: right;
}

.feilutbetalingPerioderTable-module_redText_Ywd8M {
  color: var(--a-nav-red);
}

/*!***************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./packages/fakta-feilutbetaling/src/components/feilutbetalingInfoPanel.module.css ***!
  \***************************************************************************************************************************************************************/
.feilutbetalingInfoPanel-module_smallMarginBottom_F6cLG {
  margin-bottom: 16px;
}

.feilutbetalingInfoPanel-module_smallMarginTop_H3JNr {
  margin-top: 16px;
}

.feilutbetalingInfoPanel-module_undertekstMarginBottom_h6NeP {
  margin-bottom: 8px;
}

.feilutbetalingInfoPanel-module_smallPaddingRight_Lver1 {
  padding-right: 8px;
}

.feilutbetalingInfoPanel-module_redText_JVcU3 {
  color: var(--a-nav-red);
  font-weight: bold;
}

