.vurderDatoContainer {
  margin-top: 1rem;
  max-width: 44rem;
}

.info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alertAccordion :global(.aksel-accordion__header) {
  --a-spacing-3: 0;

  box-shadow: none !important;
}

.alertAccordion :global(.aksel-accordion__content) {
  --a-spacing-5: 0;
}
