.dokumentLink {
    display: flex;

    &:hover {
        text-decoration: none;
    }

    &__etikett {
        margin-left: 1rem;
    }
}

svg.dokumentLink__dokumentikon {
    margin-right: 0.5rem;
    width: 1.125rem;
    height: 1.375rem;
    stroke: none;
}
