/* TODO (TOR) Fjern import av global.less etter refaktorering av timeline. Hack for å tving korrekt rekkefølge etter splitt av css */
.vis-item.vis-dot {
  border-width: 1px;
}

/* our custom classes overrule the styles for selected events,
   so lets define a new style for the selected events */
.vis-item.vis-selected {
  background-color: var(--ax-bg-default);
  border-color: black;
  box-shadow: 0 0 10px gray;
  color: black;
}

.vis-timeline {
  border: 0;
}

.timelineContainer {
  padding: 20px;
  padding-bottom: 0;
}

.timelineContainerExpanded {
  animation: open;
  animation-duration: 0.8s;
  max-height: 1600px;
  transition: all 2s;
}

.iconContainer {
  width: 100px;
}

.timeLineWrapper {
  margin-left: -17px;
}

.sokerContainer {
  max-width: 100px;
}

.showDataPanel {
  height: 100%;
}

.hiddenpast {
  content: '';
  visibility: hidden;
}

.vis-text {
  border-top: 1px solid darkgray;
}

:global(.opptjening .undefined) {
  background-color: rgb(255 145 0 / 80%);
  border-color: rgb(255 145 0 / 80%);
  border-radius: 8px;
}

:global(.opptjening .undefined:active) {
  background-color: var(--ax-warning-300);
  border-color: var(--ax-warning-600);
}

:global(.opptjening .undefined.vis-item.vis-selected) {
  background-color: var(--ax-warning-600);
  border: 1px solid #4a4a4a;
}
