.lesemodusboks {
  background-color: #f1f1f1;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100% !important;
}

.text {
  margin-top: 0.5rem;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem !important;
}

.fritekst {
  border-left: 5px solid #c9c9c9;
  margin-top: 0.5rem;
  max-width: 40rem;
  padding: 5px;
  word-wrap: break-word;
}

.aksjonspunktOgRedigerVurderingContainer {
  align-items: flex-start;
  display: flex;
  margin-top: 1rem;
}

.aksjonspunktOgRedigerVurderingContainer p {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.redigerVurderingTekst {
  margin-left: auto;
  padding-left: 2rem;
  text-align: center;
  width: 13rem;
}

.redigerVurderingTekst button {
  border: none;
  color: var(--a-blue-500);
  cursor: pointer;
  text-decoration: underline;
}

.redigerVurderingTekst button:hover {
  text-decoration: none;
}

.opplysningerFraSoknad {
  border-bottom: 1px solid #b7b1a9;
  display: flex;
  flex-flow: column wrap;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.opplysningerFraSoknad h4 {
  margin: 1rem 0 0.5rem;
}

.opplysningerFraSoknad p {
  margin: 0;
}

.begrunnelseContainer {
  max-width: 40rem;
}

.alder {
  width: max-content;
}

.alder hr {
  border-color: #c9c9c9;
  border-style: solid;
  border-width: 1px 0 0;
  margin-top: 1rem;
}

.alder .barnTekst {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.alder legend {
  margin-bottom: 0.5rem !important;
}
