@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.opplysninger {
  font-size: 18px;
  border-bottom: 1px solid #b7b1a9;
  margin-bottom: 1rem;

  .label {
    font-weight: bold;
  }

}

.barn {
  margin-top: 0.5rem;
}

.vurdering label span {
  font-size: 1rem;
  font-weight: bold;
}
