@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.lesemodusboks {
  background-color: @navLysGra;
  border-radius: @border-radius-base;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100% !important;
}

.text {
  margin-top: 0.5rem;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem !important;
}

.fritekst {
  border-left: 5px solid @navGra20;
  margin-top: 0.5rem;
  max-width: 40rem;
  padding: 5px;
  word-wrap: break-word;
}

.aksjonspunktOgRedigerVurderingContainer {
  align-items: flex-start;
  display: flex;
  margin-top: 1rem;

  p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

.redigerVurderingTekst {
  margin-left: auto;
  padding-left: 2rem;
  text-align: center;
  width: 13rem;

  button {
    border: none;
    color: @navBla;
    cursor: pointer;
    text-decoration: underline;
  }

  button:hover {
    text-decoration: none;
  }
}

.opplysningerFraSoknad {
  border-bottom: 1px solid #b7b1a9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0 1rem 0;
  padding-bottom: 1rem;

  h4 {
    margin: 1rem 0 0.5rem 0;
  }

  p {
    margin: 0;
  }
}

.begrunnelseContainer {
  max-width: 40rem;
}

.alder {
  width: max-content;

  hr {
    border-color: @navGra20;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-top: 1rem;
  }

  .barnTekst {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  legend {
    margin-bottom: 0.5rem !important;
  }
}
