.etikett {
  display: inline-block;
  padding: 4px 9px;
  border-radius: 4px;
}
.etikett--advarsel {
  background-color: #f9d2cc;
  border: 1px solid #ba3a26;
}
.etikett--suksess {
  background-color: #ccf1d6;
  border: 1px solid #06893a;
}
.etikett--fokus {
  background-color: #ffeccc;
  border: 1px solid #d47b00;
}
.etikett--info {
  background-color: #d8f9ff;
  border: 1px solid #368da8;
}
.etikett--mini {
  padding: 1px 8px;
}

.ReactCollapse--collapse {
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ekspanderbartPanel {
  position: relative;
  background: white;
  border-radius: 0.25rem;
}
.ekspanderbartPanel:hover,
.ekspanderbartPanel--hover {
  box-shadow: #a0a0a0 0 2px 1px 0;
}
.ekspanderbartPanel:focus,
.ekspanderbartPanel--focus {
  box-shadow: 0 0 0 3px #00347d;
  outline: none;
}
.ekspanderbartPanel__hode {
  background-color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  background: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
}
.ekspanderbartPanel__hode .ekspanderbartPanel__tittel {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 600;
  color: #262626;
}
.ekspanderbartPanel__hode:hover,
.ekspanderbartPanel__hode--hover {
  cursor: pointer;
}
.ekspanderbartPanel__hode:hover .ekspanderbartPanel__tittel,
.ekspanderbartPanel__hode--hover .ekspanderbartPanel__tittel {
  text-decoration: underline;
  color: #0067c5;
}
.ekspanderbartPanel__hode:focus,
.ekspanderbartPanel__hode--focus {
  box-shadow: 0 0 0 3px #00347d;
  outline: none;
}
.ekspanderbartPanel__flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ekspanderbartPanel__innhold {
  padding: 1rem;
  padding-top: 0.5rem;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator {
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: 200ms transform;
  vertical-align: middle;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before,
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
  transition: 200ms transform;
  border-radius: 10px;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before {
  transform: translateX(2px) rotate(45deg);
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
  transform: translateX(-2px) rotate(-45deg);
}
.ekspanderbartPanel--border {
  border: 1px solid #6a6a6a;
}
.ekspanderbartPanel--border:hover,
.ekspanderbartPanel--border.panel-interaktiv-mixin--hover {
  border: 1px solid #0067c5;
}
.ekspanderbartPanel--border.ekspanderbartPanel--apen {
  border: 1px solid #6a6a6a;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ekspanderbartPanel--apen .ekspanderbartPanel__innhold {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator {
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: 200ms transform;
  vertical-align: middle;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before,
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
  transition: 200ms transform;
  border-radius: 10px;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before {
  transform: translateX(2px) rotate(-45deg);
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
  transform: translateX(-2px) rotate(45deg);
}

