.helpTextImage {
  margin-left: 4px;
}

.tooltipContent {
  font-weight: normal;
}

.tooltipContent span:first-child {
  margin-bottom: 8px;
}

.varsel {
  min-width: 500px;
  margin-top: 0.625rem;
}

.bold {
  font-weight: bold;
}
