/* stylelint-disable unit-allowed-list, length-zero-no-unit */
@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.modalInnehold {
  padding: 0 3em 2em;
}

.alertModalInnehold {
  padding: 0 3em 2em;
  width: 27em;
}

.modalHeader {
  margin-bottom: 1.5em;
}

.knapper {
  margin: 1.5em 0 0;

  button {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hoyere {
  text-align: right;
}

.knapperHoyere {
  margin: 1.5em 0 0;
  text-align: right;

  button {
    margin-left: 1em;
  }
}

.nullstillCss {
  all: unset;
}

.papir {
  background: white;
  width: 21cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  padding-bottom: 10mm;
}

.ikkeRedigerbartInnhold {
  max-width: 650px;
  margin: 0 auto;
}

.redigerbartInnhold {
  border-left: 15px solid @navOransjeLighten40;
  border-right: 15px solid @navOransjeLighten40;
  margin: 0px -10mm;
  min-width: 202.1mm;
  box-sizing: content-box;
}
