.uttakDetaljer {
  padding: var(--a-spacing-4);
}

.uttakDetaljer__graderingDetaljer {
  background-color: var(--a-gray-50);
  padding: var(--a-spacing-5);
  color: var(--a-text-default);
  border-radius: 5px;
}

.uttakDetaljer__graderingDetaljer__highlight {
  background-color: var(--a-deepblue-50);
}

.uttakDetaljer__graderingDetaljer__notHighlighted {
  padding-top: var(--a-spacing-10);
}

.uttakDetaljer__graderingDetaljer svg {
  color: var(--a-lightblue-800);
  font-size: x-large;
  margin: 0 var(--a-spacing-1) 0;
}

.uttakDetaljer__graderingDetaljer .navds-help-text {
}

.uttakDetaljer__detailItem {
  padding: var(--a-spacing-1) 0;
}

.uttakDetaljer__detailItem:first-of-type {
  margin-top: var(--a-spacing-4);
}

.uttakDetaljer__detailSum {
  padding: var(--a-spacing-6) 0 var(--a-spacing-1);
  border-bottom: 3px solid var(--a-lightblue-700);
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}

.uttakDetaljer__data__questionMark svg {
  height: var(--a-font-size-large);
}

.uttakDetaljer__expandableDetailItem {
  padding: var(--a-spacing-1) 0;
  border-bottom: 1px solid var(--a-border-subtle);
}

.uttakDetaljer__expandableDetailItem__header a {
  color: var(--a-text-default);
  text-decoration: none;
}

.uttakDetaljer__expandableDetailItem a > div {
  display: flex;
}

.uttakDetaljer__expandableDetailItem span {
  flex-grow: 1;
}

.uttakDetaljer__expandableDetailItem svg {
  justify-self: right;
}

.uttakDetaljer__expandableDetailItem__content {
}

.uttakDetaljer__expandableDetailItem__contentExpanded {
}

.uttakDetaljer__expandableDetailItem__contentCollapsed {
  display: none;
}

.uttakDetaljer__nyGradering {
  margin-top: var(--a-spacing-8);
  display: inline-block;
}

.uttakDetaljer__tag {
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.uttakDetaljer__beregningFirma {
  margin: var(--a-spacing-5) 0;
}

.uttakDetaljer__taptInntektBeregning {
  margin: var(--a-spacing-4) 0;
  display: inline-block;
}

.uttakDetaljer__taptInntektAnnotasjon {
  display: inline-block;
  width: 0.75rem;
}

.uttakDetaljer__beregningStrek {
  border-bottom: 1px solid var(--a-border-subtle);
  padding-bottom: var(--a-spacing-1);
}

.uttakDetaljer__beregningSum {
  padding-top: var(--a-spacing-1);
}

.uttakDetaljer__utnullet {
  text-decoration: line-through;
  color: var(--a-gray-500);
}

.uttakDetaljer__nyTag {
  margin-left: var(--a-spacing-1);
  display: inline-block;
}

.uttakDetaljer__detailtext {
  color: var(--a-text-subtle);
  padding-top: var(--a-spacing-3);
  display: inline-block;
}
