.fieldColumn {
  margin-right: 32px;
}

.headingContainer {
  margin-bottom: 8px;
}

.fieldContainerSmall {
  margin-top: 1rem;
}

.fieldContainerLarge {
  margin-top: 2rem;
}

.pickerContainer {
  display: flex;
}

.fieldGroup {
  width: 100%;
}

.vilkarsContainer {
  margin-top: 80px;
}

.fortsettTilVilkaarButton {
  margin-top: 20px;
}

.hideVilkaarsVurdering {
  display: none;
}
