.fieldColumn {
  margin-right: 32px;
}

.headingContainer {
  margin-bottom: 8px;
}

.fieldContainer {
  margin-bottom: 20px;
}

.pickerContainer {
  display: flex;
}

.periodeContainer {
  margin-bottom: 10px;
  padding: 5px 10px 0 0;
}

.tilsynContainer {
  margin-bottom: 8px;
}

.fieldGroup {
  width: 100%;
}

.diagnosekodeColumn {
  width: 100%;

  input {
    width: 40%;
  }
}

.vilkarsContainer {
  margin-top: 80px;
}

.form {
}

.helpTextContainer {
  margin-bottom: 16px;
}

.polseContainer {
  display: flex;

  .polseIcon {
    width: 24px;
  }
}
