.uttakTable {
  thead {
    tr {
      &:first-child td {
        border-bottom: none;
      }
    }
  }

  tbody {
    tr {
      td:first-child {
        border: none;
      }
    }
  }
}

.personColumn {
  text-align: end;
}

.personCell {
  & > :not(:last-child) {
    margin-right: 0.5em;
  }

  .navn {
    font-weight: bold;
    text-align: end;
  }

  .ikon {
    width: 28px;
  }
}
