.leggTilArbeidsforholdButton {
  background: var(--a-white) url('@fpsak-frontend/assets/images/add-circle.svg') no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-bottom: 15px;
  padding-left: 7px;
  width: 225px;
}

.arbeidsgiverColumn {
  width: 95%;
}

.container {
  overflow-x: auto;
}

.aksjonspunktColumn {
  display: inline-flex;
}

.aksjonspunktColumn img {
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.overskrift {
  display: inline-flex;
}

.overskrift img {
  padding-right: 10px;
}

.visLukkArbeidsforhold {
  border: 0;
  color: var(--a-blue-500);
  font-size: 16px;
  text-decoration: underline;
  width: max-content;
}

.knappContainer {
  background: var(--a-white) no-repeat;
  border: none;
  display: inline-flex;
  outline: none;
  text-align: center;
}

.chevronOpp {
  height: 14px;
  margin-left: 10px;
  transform: rotate(180deg);
  width: 8px;
}

.chevronNed {
  height: 14px;
  margin-left: 10px;
  transform: rotate(0deg);
  width: 8px;
}
