.innleggelsesperiodeliste {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__element {
        border-bottom: 1px solid #c8c8c8;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    &__element:not(:first-child) {
        margin-top: 0.5rem;
    }
}

.lenkeContainer {
    float: right;

    &__slettLenke {
        margin-left: 1rem;
    }
}
