.container {
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.column {
  flex: 1;
  padding-left: 0;
  padding-right: 0;
}

.tabImage {
  margin-bottom: 10px;
  outline: none;
}

.button {
  background: transparent;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  cursor: pointer;
  padding-bottom: 3px;
  padding-top: 16px;
  position: relative;
  width: 100%;
}

.button.active {
  border-bottom: 0.25rem solid var(--a-blue-500);
  cursor: default;
  padding-bottom: 0;
}

.button.active:hover {
  background-color: white;
  border-bottom: 0.25rem solid var(--a-blue-500);
}

.button:hover {
  background-color: #f1f1f1;
  border-bottom: 0.25rem solid var(--a-blue-500);
  padding-bottom: 0;
}

.button:focus {
  border-bottom: 0.25rem solid var(--a-blue-500);
  box-shadow: 0 0 0 3px var(--a-blue-800);
  outline: none;
  padding-bottom: 0;
  z-index: 2;
}

.button:disabled {
  background: white;
  border-bottom: 1px solid #c9c9c9;
  cursor: default;
  padding-bottom: 3px;
}

.button[data-tooltip]:before {
  background-color: #fff2e0;
  border-radius: 4px;
  bottom: -20px;
  box-shadow: 0 1px 2px 0 #a0a0a0;
  color: #262626;
  content: attr(data-tooltip);
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0 -20px;
  opacity: 0;
  padding: 2px 8px;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.button[data-tooltip]:hover:before {
  animation-delay: 0.4s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-name: showTooltip;
}

@keyframes showTooltip {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
