@import '@{coreModulePath}nav-frontend-core/less/_variabler';
@import '@{coreModulePath}@fpsak-frontend/assets/styles/orangeFocus.less';

.borderbox {
  margin-top: 16px;
}

.error {
  border: 2px solid @redError;
}

.warning {
  border: 2px solid @orangeFocus;
}
