@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.divider {
  border-left: 1px solid @navGra40;
  border-right: 0 solid @navGra40;
  display: inline;
  float: right;
  height: 40px;
  margin-left: 10px;
  position: absolute;
}

.modal {
  width: 500px;

  svg:global(.navds-loader.loader),
  svg:global(.navds-loader.loader circle) {
    animation-duration: 1.8s !important;
    animation-delay: 0s !important;
    animation-iteration-count: infinite !important;
  }
}

.messageRow {
  padding-top: 7px;
}

.modalText {
  padding-top: 8px;
}
