.container {
  display: flex;
  justify-content: center;

  svg:global(.navds-loader.loader),
  svg:global(.navds-loader.loader circle) {
    animation-duration: 1.8s !important;
    animation-delay: 0s !important;
    animation-iteration-count: infinite !important;
  }
}
