.container {
  display: flex;
  justify-content: center;

  :global(.navds-loader),
  :global(.navds-loader *) {
    animation-duration: 1.8s !important;
    animation-delay: 0s !important;
    animation-iteration-count: infinite !important;
  }
}
