.fourPx {
  margin-bottom: 0.25rem;
}
.eightPx {
  margin-bottom: 0.5rem;
}
.sixteenPx {
  margin-bottom: 1rem;
}
.twentyPx {
  margin-bottom: 1.25rem;
}
.thirtyTwoPx {
  margin-bottom: 2rem;
}
.fourtyPx {
  margin-bottom: 2.5rem;
}
