.container {
  border-bottom: 1px solid #6a6a6a;
}

.meny {
  margin: 15px 25px 23px;
}

.stepArrowContainer {
  bottom: -24px !important;
  filter: drop-shadow(0 -3px 2px rgb(0 0 0 / 10%));
  position: relative;
  z-index: 1;
}

.stepArrowContainer:after {
  border: solid transparent;
  border-color: rgb(255 255 255 / 0%);
  border-bottom-color: #fff;
  border-width: 12px;
  bottom: 100%;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -12px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.stepArrowContainer:before {
  border: solid transparent;
  border-color: rgb(0 0 0 / 0%);
  border-bottom-color: var(--a-gray-300);
  border-width: 13px;
  bottom: 100%;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -13px;
  pointer-events: none;
  position: absolute;
  width: 0;
}
