.container {
  background-color: var(--a-white);
}

@media screen and (width >= 1350px) {
  .container {
    height: 1290px;
  }
}

.content {
  overflow: hidden;
  flex: 1 1 auto;
  padding: 40px 40px 40px 24px;
}

.sideMenu {
  flex: 0 0 auto;
  padding-right: 0;
}
