.institusjon-oversikt {
  width: 25rem;
}

.institusjon-oversikt .heading {
  margin: 1.3125rem 0 1.5rem 0.9375rem;
}

.institusjon-oversikt .marginLeft {
  margin-left: 0.9375rem;
}

.institusjon-oversikt .periodColumns {
  display: flex;
}

.institusjon-oversikt .periodColumns > div {
  margin-right: 1rem;
}

.institusjon-oversikt .periodColumns > div:last-of-type {
  margin-left: 7.75rem;
}
