.container {
  align-items: center;
  background-color: rgba(204, 225, 243, 0.26);
  border: 1px solid @navLysBlaDarken40;
  border-radius: 4px;
  display: flex;
  padding: 1rem;
}

.checkBlaIkon {
  padding-right: 0.5rem;
}
