.behandlingPicker {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.behandlingPicker .åpneText {
  align-items: center;
  color: var(--ax-accent-600);
  display: flex;
  margin-right: 0.875rem;
}

.behandlingPicker .åpneChevron {
  color: var(--ax-accent-600);
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.behandlingPicker .utfallImage {
  height: 1.25rem;
  margin-right: 0.625rem;
  margin-top: -0.125rem;
  width: 1.25rem;
}

.behandlingPicker .smallerUndertittel {
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 0.25rem;
}

.indent {
  margin-left: 10%;
  width: 90%;
}

.opprettetDatoContainer {
  align-items: center;
  display: flex;
  margin-top: 0.5rem;
}

.opprettetDatoContainer p:first-of-type {
  margin-right: 0.25rem;
}
