.halfColumn {
  flex: 0 0 44%;
}

.fullWidth {
  width: 100%;
}

.approvalItemContainer {
  min-height: 70px;
}

.aksjonspunktTextContainer {
  margin-bottom: 12px;
  margin-top: 12px;
}

.lenke {
  color: var(--a-blue-500);
}
