.buttonRow {
  margin-top: 16px;
}

.buttonRow > :not(:first-child) {
  margin-left: 15px;
}

.buttonLink {
  background: none;
  border: 0;
  color: var(--a-blue-500);
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.infoIkkeVedtaksbrev {
  margin-top: 1rem;
}
