.vurderOverlappendeSak {
  max-width: var(--k9-max-text-width);
}

.apContainer {
  border-radius: 3px;
  padding: var(--ax-space-20);
}

.apActive {
  border: 2px solid var(--ax-warning-600);
}

.apReadOnly {
  border-radius: 3px;
  border: 1px solid var(--ax-border-neutral);
}

.apContainer a {
  color: var(--ax-text-neutral);
}

.apContainer ul {
  margin: 0;
  padding-left: var(--ax-space-24) 0;
}

.apContainer li {
  list-style-position: inside;
  padding-left: var(--ax-space-8);
}

.uttaksgradField input {
  max-width: var(--ax-space-48);
}

.uttaksgradPeriode {
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    margin-left: var(--ax-space-8);
  }
}

.uttaksPeriodeEndret {
  color: var(--ax-warning-700);
}

.vurderOverlappendeSakAPListe :where(ul, li) {
  margin-block: 0;
}

.noOverlappendeMargin ul {
  margin-block: 0 !important;
}

.noOverlappendeMargin ul li {
  margin-block: 0 !important;
}
