.container {
  width: 100%;
}

.info {
  padding: 10px;
}

.info .alertstripe__tekst {
  max-width: 100%;
}

.timelineNavigationContainer {
  margin-top: 4px;
}

.tabContainer {
  margin-top: 16px;
}
