.opplysningerFraSoknad {
  border-bottom: 1px solid #b7b1a9;
  display: flex;
  flex-flow: column wrap;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.opplysningerFraSoknad h4 {
  margin: 1rem 0 0.5rem;
}

.opplysningerFraSoknad p {
  margin: 0;
}

.begrunnelseContainer {
  max-width: 40rem;
}
