.modal {
  width: 500px;
}

.modalText {
  padding-top: 8px;
}

.divider {
  border-left: 1px solid #a0a0a0;
  display: inline;
  float: right;
  height: 40px;
  margin-left: 10px;
  position: absolute;
}
