.container {
  border-bottom: 1px solid #6a6a6a;
  padding: 0.875rem 2.125rem 0.75rem 2.75rem;
  position: relative;
}
.container :global .pin {
  height: 100%;
  top: -12px;
}
.container :global .pin:before {
  display: none;
}
.container :global .tidslinje {
  margin-left: 10.375rem;
  width: calc(100% - 10.375rem);
  margin-bottom: 0.625rem;
}
.rad :global(.radLabel) {
  left: -10.375rem;
  margin-left: 1.75rem;
  position: absolute;
}
.rad :global(.radLabel):before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5.83333V4.16667H1.66667L1.66667 8.33333H18.3333V4.16667H15V5.83333C15 6.29357 14.6269 6.66667 14.1667 6.66667C13.7064 6.66667 13.3333 6.29357 13.3333 5.83333V4.16667H6.66667V5.83333C6.66667 6.29357 6.29357 6.66667 5.83333 6.66667C5.3731 6.66667 5 6.29357 5 5.83333ZM13.3333 2.5H6.66667V0.833333C6.66667 0.373096 6.29357 0 5.83333 0C5.3731 0 5 0.373096 5 0.833333V2.5H1.66667C0.746192 2.5 0 3.24619 0 4.16667V18.3333C0 19.2538 0.746192 20 1.66667 20H18.3333C19.2538 20 20 19.2538 20 18.3333V4.16667C20 3.24619 19.2538 2.5 18.3333 2.5H15V0.833333C15 0.373096 14.6269 0 14.1667 0C13.7064 0 13.3333 0.373096 13.3333 0.833333V2.5ZM1.66667 10L1.66667 18.3333H18.3333V10H1.66667ZM5.83333 11.6667H4.16667C3.70643 11.6667 3.33333 12.0398 3.33333 12.5C3.33333 12.9602 3.70643 13.3333 4.16667 13.3333H5.83333C6.29357 13.3333 6.66667 12.9602 6.66667 12.5C6.66667 12.0398 6.29357 11.6667 5.83333 11.6667ZM4.16667 15H5.83333C6.29357 15 6.66667 15.3731 6.66667 15.8333C6.66667 16.2936 6.29357 16.6667 5.83333 16.6667H4.16667C3.70643 16.6667 3.33333 16.2936 3.33333 15.8333C3.33333 15.3731 3.70643 15 4.16667 15ZM10.8333 11.6667H9.16667C8.70643 11.6667 8.33333 12.0398 8.33333 12.5C8.33333 12.9602 8.70643 13.3333 9.16667 13.3333H10.8333C11.2936 13.3333 11.6667 12.9602 11.6667 12.5C11.6667 12.0398 11.2936 11.6667 10.8333 11.6667ZM9.16667 15H10.8333C11.2936 15 11.6667 15.3731 11.6667 15.8333C11.6667 16.2936 11.2936 16.6667 10.8333 16.6667H9.16667C8.70643 16.6667 8.33333 16.2936 8.33333 15.8333C8.33333 15.3731 8.70643 15 9.16667 15ZM16.6667 12.5C16.6667 12.0398 16.2936 11.6667 15.8333 11.6667H14.1667C13.7064 11.6667 13.3333 12.0398 13.3333 12.5C13.3333 12.9602 13.7064 13.3333 14.1667 13.3333H15.8333C16.2936 13.3333 16.6667 12.9602 16.6667 12.5ZM13.3333 15.8333C13.3333 15.3731 13.7064 15 14.1667 15H15.8333C16.2936 15 16.6667 15.3731 16.6667 15.8333C16.6667 16.2936 16.2936 16.6667 15.8333 16.6667H14.1667C13.7064 16.6667 13.3333 16.2936 13.3333 15.8333Z' fill='%23262626'/%3E%3C/svg%3E%0A");
  content: '';
  display: block;
  height: 1.25rem;
  left: -1.75rem;
  position: absolute;
  top: -0.125rem;
  width: 1.25rem;
}
.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.skalaRadioLabel {
  align-items: center;
  background-color: white;
  border: 1px solid #c6c2bf;
  color: #262626;
  cursor: pointer;
  display: flex;
  height: 24px;
  padding: 2px 8px;
}
.skalaRadioLabel p {
  font-size: 0.875rem;
  font-weight: 400;
}
.skalaRadioLabel--selected {
  background-color: #59514b;
  color: white;
}
.skalaRadioInput {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.skalaRadioInput:focus-visible + label {
  box-shadow: 0 0 0 3px #00347d;
}
.skalaRadioInput:first-of-type + label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.skalaRadioInput:last-of-type + label {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.suksess:before {
  content: '';
  position: absolute;
  height: 15px;
  width: 16px;
  top: 50%;
  left: 6px;
  transform: translateY(-45%);
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='15px' viewBox='0 0 16 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Evarsel%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='varsel' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-25' transform='translate(1.000000, 0.500000)'%3E%3Cg id='Group-11'%3E%3Cpath d='M7.11929186,7.99360578e-15 L6.99450637,0.00121741942 C5.11968047,0.0340877437 3.35503102,0.791931331 2.02621773,2.13535366 C0.687665079,3.48851534 -0.0312210874,5.25986059 0.0010405272,7.12372972 C0.0679985952,10.9811231 3.0902423,14.0027581 6.88128637,14.0027581 L7.00485444,14.0015407 C10.9285972,13.9339739 14.0664958,10.738248 13.998929,6.87963713 C13.9319709,3.0222437 10.9097272,7.99360578e-15 7.11929186,7.99360578e-15 Z' id='Shape' fill='%233E3832' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='Group' transform='translate(6.000000, 2.500000)' fill='%23FFFFFF'%3E%3Cpath d='M1.06053179,8.63877304 C1.05428214,8.63877304 1.04803248,8.63877304 1.04178283,8.63877304 C0.474106066,8.63877304 0.00954856614,8.18463163 0.000174087446,7.61591326 C-0.010242,7.04094523 0.448065847,6.56597164 1.02303387,6.55659716 C1.02928353,6.55659716 1.03553318,6.55555556 1.04178283,6.55555556 C1.6094596,6.55555556 2.07297549,7.01073858 2.08339157,7.57945695 C2.09380766,8.15442498 1.63445821,8.62835695 1.06053179,8.63877304 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.04166667,0.166666667 C1.42519774,0.166666667 1.73611111,0.415397361 1.73611111,0.722222222 L1.73611111,4.61111111 C1.73611111,4.91793597 1.42519774,5.16666667 1.04166667,5.16666667 C0.65813559,5.16666667 0.347222222,4.91793597 0.347222222,4.61111111 L0.347222222,0.722222222 C0.347222222,0.415397361 0.65813559,0.166666667 1.04166667,0.166666667 Z' id='Rectangle' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5 0C3.81296 0 0 3.81367 0 8.5C0 13.1863 3.81296 17 8.5 17C13.1863 17 17 13.1863 17 8.5C17 3.81367 13.1863 0 8.5 0ZM12.2832 6.28008L6.97071 11.2384C6.90271 11.3015 6.81558 11.3333 6.72917 11.3333C6.63779 11.3333 6.54783 11.2986 6.47842 11.2299L4.70758 9.45908C4.56946 9.32096 4.56946 9.09642 4.70758 8.95829C4.84571 8.82017 5.07025 8.82017 5.20837 8.95829L6.73696 10.4869L11.7994 5.76229C11.9418 5.62913 12.1663 5.6355 12.3002 5.77858C12.4341 5.92167 12.4263 6.14621 12.2832 6.28008Z' fill='%23006A23'/%3E%3Cpath d='M11.5575 5.50363L6.74474 9.99387L5.4588 8.70786C5.18237 8.43142 4.73358 8.43142 4.45714 8.70786C4.18071 8.98429 4.18071 9.43308 4.45714 9.70952L6.22798 11.4804C6.36394 11.6149 6.54294 11.6875 6.72916 11.6875C6.90643 11.6875 7.07908 11.6209 7.21149 11.4981L12.5249 6.539C12.811 6.27122 12.8264 5.82256 12.5588 5.53661C12.2914 5.2508 11.8428 5.23678 11.5575 5.50363Z' fill='white'/%3E%3C/svg%3E%0A");
  height: 18px;
  width: 17px;
}
.feil:before {
  content: '';
  position: absolute;
  height: 15px;
  width: 16px;
  top: 50%;
  left: 6px;
  transform: translateY(-45%);
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='15px' viewBox='0 0 16 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Evarsel%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='varsel' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-25' transform='translate(1.000000, 0.500000)'%3E%3Cg id='Group-11'%3E%3Cpath d='M7.11929186,7.99360578e-15 L6.99450637,0.00121741942 C5.11968047,0.0340877437 3.35503102,0.791931331 2.02621773,2.13535366 C0.687665079,3.48851534 -0.0312210874,5.25986059 0.0010405272,7.12372972 C0.0679985952,10.9811231 3.0902423,14.0027581 6.88128637,14.0027581 L7.00485444,14.0015407 C10.9285972,13.9339739 14.0664958,10.738248 13.998929,6.87963713 C13.9319709,3.0222437 10.9097272,7.99360578e-15 7.11929186,7.99360578e-15 Z' id='Shape' fill='%233E3832' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='Group' transform='translate(6.000000, 2.500000)' fill='%23FFFFFF'%3E%3Cpath d='M1.06053179,8.63877304 C1.05428214,8.63877304 1.04803248,8.63877304 1.04178283,8.63877304 C0.474106066,8.63877304 0.00954856614,8.18463163 0.000174087446,7.61591326 C-0.010242,7.04094523 0.448065847,6.56597164 1.02303387,6.55659716 C1.02928353,6.55659716 1.03553318,6.55555556 1.04178283,6.55555556 C1.6094596,6.55555556 2.07297549,7.01073858 2.08339157,7.57945695 C2.09380766,8.15442498 1.63445821,8.62835695 1.06053179,8.63877304 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.04166667,0.166666667 C1.42519774,0.166666667 1.73611111,0.415397361 1.73611111,0.722222222 L1.73611111,4.61111111 C1.73611111,4.91793597 1.42519774,5.16666667 1.04166667,5.16666667 C0.65813559,5.16666667 0.347222222,4.91793597 0.347222222,4.61111111 L0.347222222,0.722222222 C0.347222222,0.415397361 0.65813559,0.166666667 1.04166667,0.166666667 Z' id='Rectangle' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.95825 0C4.2803 0 0.467871 3.80504 0.459001 8.483C0.454566 10.7536 1.33413 12.8897 2.93656 14.4988C4.53899 16.1071 6.67212 16.9956 8.94272 17H8.95899C13.6362 17 17.4494 13.1942 17.459 8.51552C17.4678 3.82944 13.6621 0.00886957 8.95825 0Z' fill='%23BA3A26'/%3E%3Cpath d='M8.95572 7.54479L11.3441 5.15636C11.608 4.89254 12.0357 4.89254 12.2995 5.15636C12.5633 5.42018 12.5633 5.84791 12.2995 6.11173L9.91109 8.50016L12.2995 10.8886C12.5633 11.1524 12.5633 11.5801 12.2995 11.844C12.0357 12.1078 11.608 12.1078 11.3441 11.844L8.95572 9.45553L6.5673 11.844C6.30348 12.1078 5.87574 12.1078 5.61193 11.844C5.34811 11.5801 5.34811 11.1524 5.61193 10.8886L8.00035 8.50016L5.61193 6.11173C5.34811 5.84791 5.34811 5.42018 5.61193 5.15636C5.87574 4.89254 6.30348 4.89254 6.5673 5.15636L8.95572 7.54479Z' fill='white'/%3E%3C/svg%3E%0A");
  height: 18px;
  width: 17px;
}
.advarsel:before {
  content: '';
  position: absolute;
  height: 15px;
  width: 16px;
  top: 50%;
  left: 6px;
  transform: translateY(-45%);
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='15px' viewBox='0 0 16 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Evarsel%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='varsel' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-25' transform='translate(1.000000, 0.500000)'%3E%3Cg id='Group-11'%3E%3Cpath d='M7.11929186,7.99360578e-15 L6.99450637,0.00121741942 C5.11968047,0.0340877437 3.35503102,0.791931331 2.02621773,2.13535366 C0.687665079,3.48851534 -0.0312210874,5.25986059 0.0010405272,7.12372972 C0.0679985952,10.9811231 3.0902423,14.0027581 6.88128637,14.0027581 L7.00485444,14.0015407 C10.9285972,13.9339739 14.0664958,10.738248 13.998929,6.87963713 C13.9319709,3.0222437 10.9097272,7.99360578e-15 7.11929186,7.99360578e-15 Z' id='Shape' fill='%233E3832' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='Group' transform='translate(6.000000, 2.500000)' fill='%23FFFFFF'%3E%3Cpath d='M1.06053179,8.63877304 C1.05428214,8.63877304 1.04803248,8.63877304 1.04178283,8.63877304 C0.474106066,8.63877304 0.00954856614,8.18463163 0.000174087446,7.61591326 C-0.010242,7.04094523 0.448065847,6.56597164 1.02303387,6.55659716 C1.02928353,6.55659716 1.03553318,6.55555556 1.04178283,6.55555556 C1.6094596,6.55555556 2.07297549,7.01073858 2.08339157,7.57945695 C2.09380766,8.15442498 1.63445821,8.62835695 1.06053179,8.63877304 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.04166667,0.166666667 C1.42519774,0.166666667 1.73611111,0.415397361 1.73611111,0.722222222 L1.73611111,4.61111111 C1.73611111,4.91793597 1.42519774,5.16666667 1.04166667,5.16666667 C0.65813559,5.16666667 0.347222222,4.91793597 0.347222222,4.61111111 L0.347222222,0.722222222 C0.347222222,0.415397361 0.65813559,0.166666667 1.04166667,0.166666667 Z' id='Rectangle' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0417 3.71875C12.0417 5.77256 10.3767 7.4375 8.32294 7.4375C6.26913 7.4375 4.60419 5.77256 4.60419 3.71875C4.60419 1.66494 6.26913 0 8.32294 0C10.3767 0 12.0417 1.66494 12.0417 3.71875ZM8.26047 8.22454C5.36992 8.22454 3.02667 10.5678 3.02667 13.4583H10.2261L12.8119 10.8725C11.9115 9.29101 10.2105 8.22454 8.26047 8.22454ZM15.8297 11.7953C15.2138 11.1793 14.2151 11.1793 13.5991 11.7953L10.913 14.4815L10.6251 17L13.1435 16.7121L15.8297 14.0259C16.4457 13.4099 16.4457 12.4113 15.8297 11.7953Z' fill='%23262626'/%3E%3C/svg%3E%0A");
}
.aktivPeriode {
  height: 1.875rem;
}
:global(.frittstående).aktivPeriode {
  border: 3px solid #254b6d;
}
:global(.sammenhengendeFraBegge).aktivPeriode {
  border-top: 3px solid #254b6d;
  border-bottom: 3px solid #254b6d;
  border-left: none;
  border-right: none;
}
:global(.sammenhengendeFraBegge).aktivPeriode:before {
  display: none;
}
:global(.sammenhengendeFraHøyre).aktivPeriode {
  border-top: 3px solid #254b6d;
  border-bottom: 3px solid #254b6d;
  border-left: 3px solid #254b6d;
}
:global(.sammenhengendeFraVenstre).aktivPeriode {
  border-top: 3px solid #254b6d;
  border-bottom: 3px solid #254b6d;
  border-right: 3px solid #254b6d;
}
:global(.sammenhengendeFraVenstre).aktivPeriode:before {
  display: none;
}
.navigasjonContainer {
  display: flex;
  justify-content: flex-end;
}
