.container {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  height: 100%;
}

.meny {
  flex-shrink: 0;
  width: 100%;
}

.content {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
}
