.modal {
  width: 750px;

  :global(.skjemagruppe__legend) {
    position: absolute;
    overflow: hidden;
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}

button.button {
  margin-right: 10px;
}

.forhandsvis {
  margin-left: -30px;
}
