.indicatorWithOverlay {
  display: flex;
  position: relative;
}

.indicator {
  left: -10px;
  opacity: 0.5;
  position: relative;
  top: 0;
  z-index: 0;
}

.overlay {
  opacity: 1;
  z-index: 1;
}
