.container {
  display: grid;
  grid-template-areas:
    'orgnr name'
    'error error';
  grid-template-columns: 15ex 1fr;
  grid-template-rows: auto;
  gap: var(--a-spacing-2, 0.5rem);
  align-items: flex-start;
}

.orgnumField {
  grid-area: orgnr;
}

.orgnameField {
  grid-area: name;
}

.errorField {
  grid-area: error;
}
