.navigationWithDetailView {
  align-items: flex-start;
  display: flex;
}

.navigationSection {
  border: 1px solid #c6c2bf;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.detailSection {
  flex-basis: 66%;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-left: 1.25rem;
}
