.invisibleButton {
  background: none;
  border: 0;
  color: #0067c5;
  cursor: pointer;
  padding: 8px;
}

.invisibleButton:focus {
  background-color: #ffc166;
  border: 0;
  color: #0067c5;
  padding-bottom: 4px;
  text-decoration: none;
}

.invisibleButton:focus:hover {
  color: #0067c5;
}

.invisibleButton i {
  margin-left: 10px;
}
