.detailViewVurdering {
    &__periodList {
        margin-top: 1.25rem;
    }

    &__hr {
        margin-top: 1rem;
        color: #b7b1a9;
    }

    &__endreLink {
        margin-left: 1rem;
    }
}
