.divider {
  border-left: 1px solid #a0a0a0;
  border-right: 0 solid #a0a0a0;
  display: block;
  height: 2.3125rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.image {
  height: 1.5625rem;
  width: 1.5625rem;
}
.modal.settPaVentModal {
  overflow: visible;
  width: 40.25rem;
  padding: 1.625rem 2.5rem 2.625rem 1.25rem;
}
.modal.settPaVentModal :global(.lukknapp) {
  border: none;
}
.label {
  font-size: 1.125rem;
}
.button {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.cancelButton {
  margin: 0 0.625rem 0 1.125rem;
}
.marginTop20 {
  margin-top: 1.25rem;
}
.marginTop10 {
  margin-top: 0.625rem;
}
.datePicker {
  margin-left: 2.75rem;
  margin-top: -0.3125rem;
}
.flexContainer {
  display: flex;
}
.selectContainer :global .selectContainer {
  width: 100%;
}
.calendarContainer {
  align-items: baseline;
  display: flex;
}
.topContainer {
  align-items: center;
  display: flex;
}
.contentContainer {
  margin: 24px 1.625rem 0 4.125rem;
}
.buttonContainer {
  margin-top: 2.875rem;
}
.disabledNavSelect {
  width: 100%;
}
.commentInputLabel {
  margin-top: 1.8125rem;
  display: flex;
  align-items: center;
}
.commentInputLabel span {
  margin-left: 0.25rem;
}
