.nyeDokumenterSomKanPåvirkeEksisterendeVurderinger {
    max-width: 75.25rem;

    &__dokumentLink {
        margin-left: 0.5rem;
    }

    &__ikonContainer {
        position: relative;
        top: 6px;
        margin-right: 0.5rem;

        svg {
            height: 1.375rem;
            width: 1.125rem;
        }
    }

    &__content {
        border: 2px solid #ff9100;
        padding: 1.25rem;
    }
}
