@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.explanationTextarea {
  resize: none;
}

.panel {
  width: 720px;
}

.period {
  padding-top: 25px;
}

.vurderingsårsaker {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.vurderingsårsakerOverskrift {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.buttonContainer {
  margin-top: 16px;
}
