.etiketter {
  position: relative;
  width: 100%;
  height: 1rem;
  box-sizing: content-box;
  margin-bottom: 16px;
}

.etiketter > * {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 14px;
  color: #78706a;
}
