.navigasjonContainer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 2rem;
}

.navigasjonButton {
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid #3e3832;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-right: 0.875rem;
  padding: 0 0.0625rem 0 0;
}

.navigasjonButton:hover,
.navigasjonButton:focus {
  box-shadow: 0 0 0 3px var(--a-blue-800);
}

.navigasjonButtonLeft {
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid #3e3832;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-right: 0.875rem;
  padding: 0 0.0625rem 0 0;
}

.navigasjonButtonLeft:hover,
.navigasjonButtonLeft:focus {
  box-shadow: 0 0 0 3px var(--a-blue-800);
}

.navigasjonButtonRight {
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid #3e3832;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-right: 0.875rem;
  padding: 0 0.0625rem 0 0;
  transform: rotate(180deg);
}

.navigasjonButtonRight:hover,
.navigasjonButtonRight:focus {
  box-shadow: 0 0 0 3px var(--a-blue-800);
}

.navigasjonButtonRight:disabled {
  opacity: 0.2;
  cursor: default;
}

.navigasjonButtonRight:disabled:hover {
  box-shadow: none;
}

.navigasjonDatoContainer {
  min-width: 17rem;
}
