.container {
  position: absolute;
  height: 100%;
}

.pin {
  position: absolute;
  height: calc(100% + 10px);
  top: -22px;
  width: 1px;
  background: #000;
}

.pin:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background: #fff;
  border: 6px solid #ba3a26;
  border-radius: 50%;
  transform: translate(-8.5px, -9.5px);
}

.pins {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tooltip {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  top: -10px;
}
