.skalavelgerContainer {
  display: flex;
  justify-content: flex-end;
}

.skalavelgerContainer fieldset {
  border: none;
  display: flex;
  padding: 0;
}

.skalavelgerContainer legend {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.zoomButton {
  align-items: center;
  border: none;
  background: none;
  display: flex;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
}

.zoomButton svg {
  margin-right: 0.375rem;
}

.zoomButton:disabled {
  opacity: 0.6;
  cursor: default;
}
