.perioder {
  flex: 1;
  height: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.emptyRow {
  flex: 1;
  height: 1.5rem;
  width: 100%;
  border: none;
  background-color: var(--a-blue-50);
  margin-top: 0;
  margin-bottom: 1rem;
}

.emptyRow:first-of-type {
  margin-bottom: 3rem;
}

.aktivRad > hr {
  background-color: #e5f3ff;
}
