.bubbleSaksbehandler,
.bubbleBeslutter,
.bubbleVedtakslosningen,
.bubbleSoker,
.bubbleSokerKvinne,
.bubbleSokerMann,
.bubbleArbeidsgiver {
  --ac-chat-avatar-color: white;

  max-width: 500px;
  min-width: 300px;
}

.bubbleSaksbehandler {
  --ac-chat-bubble-bg: var(--ax-meta-purple-200);
  --ac-chat-avatar-bg: var(--ax-meta-purple-400);
}

.bubbleBeslutter {
  --ac-chat-bubble-bg: var(--ax-success-200);
  --ac-chat-avatar-bg: var(--ax-success-400);
}

.bubbleVedtakslosningen {
  --ac-chat-bubble-bg: var(--ax-neutral-200);
  --ac-chat-avatar-bg: var(--ax-neutral-400);
}

.bubbleSoker {
  --ac-chat-bubble-bg: var(--ax-warning-200);
  --ac-chat-avatar-bg: var(--ax-warning-400);
}

.bubbleSokerKvinne {
  --ac-chat-bubble-bg: var(--ax-warning-200);
  --ac-chat-avatar-bg: var(--ax-danger-400);
}

.bubbleSokerMann {
  --ac-chat-bubble-bg: var(--ax-warning-200);
  --ac-chat-avatar-bg: var(--ax-accent-500);
}

.bubbleArbeidsgiver {
  --ac-chat-bubble-bg: var(--ax-bg-moderate);
  --ac-chat-avatar-bg: var(--ax-border-subtle);
}

.bubbleUdefinert {
  --ac-chat-bubble-bg: var(--ax-bg-warning-soft);
  --ac-chat-avatar-bg: var(--ax-bg-warning-strong);
}

.chatRight {
  margin-left: auto;
}
