.bubbleSaksbehandler,
.bubbleBeslutter,
.bubbleVedtakslosningen,
.bubbleSoker,
.bubbleSokerKvinne,
.bubbleSokerMann,
.bubbleArbeidsgiver {
  max-width: 500px;
  min-width: 300px;
}

.chatRight {
  margin-left: auto;
}
