.interactiveList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.interactiveListElement {
  border-bottom: 1px solid #c6c2bf;
  position: relative;
  display: flex;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.interactiveListElement:first-of-type {
  border-top: 1px solid #c6c2bf;
}

.interactiveListElement:last-of-type {
  border-bottom: 0;
}

.interactiveListElementInactive:hover {
  background: #f2f7fc;
}

.interactiveListElementActive {
  background: #cce4fd;
}

.interactiveListElementActive:before {
  background-color: #0067c5;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.3125rem;
}

.interactiveListElementActive p {
  color: #262626;
  font-weight: bold;
  text-decoration: none;
}
