.PillIcon,
.PillIcon--success,
.PillIcon--warning,
.PillIcon--info {
  padding: 0 10px;
  background: #E0F5FB;
  border-radius: 20px;
  color: #000000;
  line-height: 1.375rem;
  text-align: center;
}
.PillIcon--success {
  background: #CCF1D6;
  border: 1px solid #006A23;
}
.PillIcon--warning {
  background: #FFECCC;
  border: 1px solid #D47B00;
}
.PillIcon--info {
  background: #F1F1F1;
  border: 1px solid #4CADCD;
}
