.firstHeaderCell {
  padding-left: var(--a-spacing-4);
}

.firstDataCell {
  padding-left: var(--a-spacing-2);
}

.lastRow > td {
  border-bottom: none;
}

.exclamationmarkIcon {
  color: var(--a-icon-warning);
  font-size: var(--a-font-size-heading-medium);
}

.checkmarkIcon {
  color: var(--a-surface-success);
}

.personIcon {
  flex-shrink: 0;
}

.sum {
  align-items: center;
  background-color: #417da0;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.sumLabel {
  color: #156389;
}
