.vilkårsliste {
  padding: 0 1.25rem;
}

.vilkårsliste ul {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.itemText {
  min-width: 200px;
  white-space: nowrap;
}

.item svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}
