.fristForDokumentasjonUtløptPanel {
  border: 2px solid #ff9100;

  &__formContainer {
    display: flex;

    &__gåVidereKnapp {
      position: relative;
      top: 6px;
      left: 16px;
    }
  }
}
