.innleggelsesperiodeFormModal {
    overflow: visible;
    max-width: 525px;
    color: #262626;
}
.innleggelsesperiodeFormModal form {
    margin: 0;
}
.innleggelsesperiodeFormModal legend {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.innleggelsesperiodeFormModal__pickerLabels {
    display: flex;
}
.innleggelsesperiodeFormModal__firstLabel {
    width: 218px;
}
