.brevCheckboxContainer {
  align-self: flex-start;
  border: none;
  background: var(--ax-accent-100);
  border-radius: 4px;
  padding: 1.4375rem 1.75rem 0.9375rem;
  order: 1;
  margin-right: 30px;
}
