.skjema-feilmelding {
  color: #ba3a26;
  display: none;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.skjema-feilmelding:empty {
  margin-top: 0;
}

.har-valideringsfeil .skjema-feilmelding,
.feil .skjema-feilmelding {
  display: block;
}

.har-valideringsfeil input:not([type='submit']),
.feil input:not([type='submit']),
.har-valideringsfeil textarea,
.feil textarea,
.har-valideringsfeil select,
.feil select {
  background: #f3e3e3;
  border: 1px solid #ba3a26;
}

.har-valideringsfeil .skjema-enkeltfeil:not(.har-valideringsfeil) .skjema-feilmelding,
.feil .skjema-enkeltfeil:not(.har-valideringsfeil) .skjema-feilmelding,
.har-valideringsfeil .skjema-feilomrade:not(.har-valideringsfeil) .skjema-feilmelding,
.feil .skjema-feilomrade:not(.har-valideringsfeil) .skjema-feilmelding {
  display: none;
}

.har-valideringsfeil .skjema-enkeltfeil:not(.har-valideringsfeil) input:not([type='submit']),
.feil .skjema-enkeltfeil:not(.har-valideringsfeil) input:not([type='submit']),
.har-valideringsfeil .skjema-feilomrade:not(.har-valideringsfeil) input:not([type='submit']),
.feil .skjema-feilomrade:not(.har-valideringsfeil) input:not([type='submit']),
.har-valideringsfeil .skjema-enkeltfeil:not(.har-valideringsfeil) textarea,
.feil .skjema-enkeltfeil:not(.har-valideringsfeil) textarea,
.har-valideringsfeil .skjema-feilomrade:not(.har-valideringsfeil) textarea,
.feil .skjema-feilomrade:not(.har-valideringsfeil) textarea {
  background: none;
  border: 1px solid #a0a0a0;
}

.readOnlyComponent {
  display: inline-block;
}
