.radioGroup.readOnly {
  display: inline-block;
  width: auto;
}
.radioGroup legend {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.radioGroupLabel {
  display: inline-block;
}
