@import '@{coreModulePath}nav-frontend-core/less/_variabler';


.visLukkAksjonspunkt {
  width: max-content;
  font-size: 16px;
  color: @navBla;
  text-decoration: underline;
  border: 0;
}

.knappContainer {
  float: right;
  display: inline-flex;
  background: none;
  border: none;
  outline: none;
}

.aksjonspunktColumn {
  img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }
}

.chevronOpp {
  margin-top: 5px;
  margin-left: 10px;
  transform: rotate(180deg);

}

.chevronNed {
  margin-top: 5px;
  margin-left: 10px;
  transform: rotate(0deg);
}
