.container {
  max-width: 100%;
}

.sectionHeadingRow {
  margin-top: var(--ax-space-24);
  margin-bottom: var(--ax-space-12);
}

.infoCard {
  margin-bottom: var(--ax-space-16);
}

.expandedCard {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
  padding: var(--ax-space-16) var(--ax-space-24);
  /* stylelint-disable-next-line custom-property-pattern */
  background-color: var(--ax-bg-neutral-softA);
  border-radius: var(--ax-radius-8);
}

.expandedRows {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-12);
}

.expandedRow {
  display: flex;
  gap: var(--ax-space-12);
}

.expandedLabel {
  flex-shrink: 0;
  width: 130px;
}

.sistEndret {
  display: flex;
  gap: var(--ax-space-8);
}
