.barnInput {
  margin-top: 1em;
  width: 550px;
}
.header {
  display: flex;
}
.header h4 {
  font-weight: 600;
  margin: 0 1em 0 0;
}
.header .italic {
  font-style: italic;
}
.rammevedtak {
  display: flex;
  margin-top: 1em;
}
.rammevedtak > * {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}
