.heading:global(.navds-heading) {
  margin-top: 1.6875rem;
}

.alert {
  margin-top: 0.75rem;
}

.textAreaContainer {
  background: #f1f1f1;
  border-radius: 5px;
  margin-top: 0.75rem;
  padding: 0.25rem 1.5625rem 1.1875rem;
}

.checkbox {
  margin-top: 0.9375rem;
}
