.soknadsperioder :global .pin {
  height: 100%;
  top: -12px;
}

.soknadsperioder :global .pin:before {
  display: none;
}

.advarsel:before {
  content: '';
  position: absolute;
  width: 16px;
  top: 50%;
  left: 6px;
  transform: translateY(-45%);
  background-repeat: no-repeat;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0417 3.71875C12.0417 5.77256 10.3767 7.4375 8.32294 7.4375C6.26913 7.4375 4.60419 5.77256 4.60419 3.71875C4.60419 1.66494 6.26913 0 8.32294 0C10.3767 0 12.0417 1.66494 12.0417 3.71875ZM8.26047 8.22454C5.36992 8.22454 3.02667 10.5678 3.02667 13.4583H10.2261L12.8119 10.8725C11.9115 9.29101 10.2105 8.22454 8.26047 8.22454ZM15.8297 11.7953C15.2138 11.1793 14.2151 11.1793 13.5991 11.7953L10.913 14.4815L10.6251 17L13.1435 16.7121L15.8297 14.0259C16.4457 13.4099 16.4457 12.4113 15.8297 11.7953Z' fill='%23262626'/%3E%3C/svg%3E%0A");
}

.suksess:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-45%);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5 0C3.81296 0 0 3.81367 0 8.5C0 13.1863 3.81296 17 8.5 17C13.1863 17 17 13.1863 17 8.5C17 3.81367 13.1863 0 8.5 0ZM12.2832 6.28008L6.97071 11.2384C6.90271 11.3015 6.81558 11.3333 6.72917 11.3333C6.63779 11.3333 6.54783 11.2986 6.47842 11.2299L4.70758 9.45908C4.56946 9.32096 4.56946 9.09642 4.70758 8.95829C4.84571 8.82017 5.07025 8.82017 5.20837 8.95829L6.73696 10.4869L11.7994 5.76229C11.9418 5.62913 12.1663 5.6355 12.3002 5.77858C12.4341 5.92167 12.4263 6.14621 12.2832 6.28008Z' fill='%23006A23'/%3E%3Cpath d='M11.5575 5.50363L6.74474 9.99387L5.4588 8.70786C5.18237 8.43142 4.73358 8.43142 4.45714 8.70786C4.18071 8.98429 4.18071 9.43308 4.45714 9.70952L6.22798 11.4804C6.36394 11.6149 6.54294 11.6875 6.72916 11.6875C6.90643 11.6875 7.07908 11.6209 7.21149 11.4981L12.5249 6.539C12.811 6.27122 12.8264 5.82256 12.5588 5.53661C12.2914 5.2508 11.8428 5.23678 11.5575 5.50363Z' fill='white'/%3E%3C/svg%3E%0A");
  height: 18px;
  width: 17px;
}

.feil:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-45%);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.95825 0C4.2803 0 0.467871 3.80504 0.459001 8.483C0.454566 10.7536 1.33413 12.8897 2.93656 14.4988C4.53899 16.1071 6.67212 16.9956 8.94272 17H8.95899C13.6362 17 17.4494 13.1942 17.459 8.51552C17.4678 3.82944 13.6621 0.00886957 8.95825 0Z' fill='%23BA3A26'/%3E%3Cpath d='M8.95572 7.54479L11.3441 5.15636C11.608 4.89254 12.0357 4.89254 12.2995 5.15636C12.5633 5.42018 12.5633 5.84791 12.2995 6.11173L9.91109 8.50016L12.2995 10.8886C12.5633 11.1524 12.5633 11.5801 12.2995 11.844C12.0357 12.1078 11.608 12.1078 11.3441 11.844L8.95572 9.45553L6.5673 11.844C6.30348 12.1078 5.87574 12.1078 5.61193 11.844C5.34811 11.5801 5.34811 11.1524 5.61193 10.8886L8.00035 8.50016L5.61193 6.11173C5.34811 5.84791 5.34811 5.42018 5.61193 5.15636C5.87574 4.89254 6.30348 4.89254 6.5673 5.15636L8.95572 7.54479Z' fill='white'/%3E%3C/svg%3E%0A");
  height: 18px;
  width: 17px;
}

.vedtakhistorikkRad p {
  font-size: 1.125rem;
  font-weight: 600;
  margin-left: 0;
}

.vedtakhistorikkRad:after {
  background-color: white;
  content: '';
  display: flex;
  height: 1.375rem;
  position: absolute;
  width: 100%;
}

.perdioderTilBehandlingRad {
  margin-top: 3rem;
}

.perdioderTilBehandlingRad button,
.perdioderTilBehandlingRad span {
  font-size: 1.125rem;
  font-weight: 600;
  margin-left: 0;
}

.ekspanderbarRad button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  top: 2px;
  display: flex;
  align-items: center;
}

.ekspanderbarRad button:after {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.83333 7.70833L5.83333 13.375H7.16667L7.16667 7.70833L12.5 7.70833V6.29167L7.16667 6.29167V0.625H5.83333V6.29167H0.5L0.5 7.70833H5.83333Z' fill='%23262626'/%3E%3C/svg%3E%0A");
  content: '';
  display: flex;
  height: 13px;
  width: 12px;
  margin-left: 0.5rem;
}

.ekspanderbarRad--active button:after {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5 9.70817H2.5V8.2915H14.5V9.70817Z' fill='%23262626'/%3E%3C/svg%3E%0A");
  height: 18px;
  width: 12px;
}

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flexContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading {
  font-size: 1.375rem;
  margin: 0;
}

.skalaRadioLabel {
  align-items: center;
  background-color: white;
  border: 1px solid #c6c2bf;
  color: #262626;
  cursor: pointer;
  display: flex;
  height: 24px;
  padding: 2px 8px;
}

.skalaRadioLabel p {
  font-size: 0.875rem;
  font-weight: 400;
}

.skalaRadioLabel--selected {
  background-color: #59514b;
  color: white;
}

.skalaRadioInput {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skalaRadioInput:focus-visible + label {
  box-shadow: 0 0 0 3px var(--a-blue-800);
}

.skalaRadioInput:first-of-type + label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.skalaRadioInput:last-of-type + label {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.legendContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.legendContainer p {
  align-items: center;
  display: flex;
  line-height: 1rem;
  margin-right: 2rem;
}

.legendContainer p:last-of-type {
  margin-right: 1rem;
}

.legendContainer svg {
  margin-right: 0.375rem;
}

.dokumentrad :global .typo-normal {
  font-size: 0.875rem;
  margin-left: 1.5rem;
}

.grayRow {
  background-color: #f1f1f1;
}

.navigasjonContainer {
  display: flex;
}
