.utenlandsopphold {
  max-width: 900px;
}
.utenlandsopphold__info {
  background: inherit !important;
  border: none !important;
}
.utenlandsopphold__info :global .ekspanderbartPanel__tittel {
  font-size: 16px;
}
.utenlandsopphold__info :global .ekspanderbartPanel__hode {
  padding: 0.25rem;
}
.utenlandsopphold__info :global .ekspanderbartPanel__flex-wrapper {
  gap: 10px;
  justify-content: normal;
}
.utenlandsopphold__info:hover {
  border: none !important;
  box-shadow: none !important;
}
.alertstripe .alertstripe__tekst {
  max-width: 100%;
}
.alertstripe :global .navds-alert__wrapper {
  max-width: 100%;
}
