.periodeContainer {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 24px;
}

.relative {
  position: relative;
}

.addArbeidsforhold {
  position: absolute;
  right: 12px;
  top: 0;
}

.oppdaterMargin {
  margin-right: 10px;
}

.suffix {
  align-self: center;
  margin-left: -8px;
  padding-top: 24px;
}

.textAlignRight {
  text-align: right;
  width: 82px;
}

.alignRightHorizontalBottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.alignRightHorizontalBottom > div:first-child {
  margin-right: 16px;
}

.fieldHorizontal {
  display: flex;
  margin-left: 8px;
}

.fieldHorizontal label {
  align-self: flex-end;
  margin-bottom: 1px;
  margin-right: 16px;
}

.fieldHorizontal label span {
  font-size: 1rem;
}

.modalLabel {
  align-self: center;
  padding: 18px 0;
}

.iconContainer {
  padding: 10px;
}

.icon {
  border-right: 1px solid #a0a0a0;
  padding: 8px 18px;
}

.fullWidth {
  flex: 1;
}

.modal {
  width: 450px;
}

.textAreaStyle {
  width: 100%;
}

.right {
  text-align: right;
  width: 100%;
}

.button {
  margin-right: 10px;
  padding-left: 36px;
  padding-right: 36px;
}
