.oppdaterMargin {
  margin-right: 10px;
}

.suffix {
  align-self: center;
  margin-left: -8px;
  padding-top: 24px;
}

.textAlignRight {
  text-align: right;
  width: 82px;
}

.alignRightHorizontalBottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row;

  > div:first-child {
    margin-right: 16px;
  }
}

.fieldHorizontal {
  display: flex;
  margin-left: 8px;

  label {
    align-self: flex-end;
    margin-bottom: 1px;
    margin-right: 16px;

    span {
      font-size: 1rem;
    }
  }
}
