/* TODO (TOR) Fjern import av global.less etter refaktorering av timeline. Hack for å tving korrekt rekkefølge etter splitt av css */
.vis-item.vis-dot {
  border-width: 1px;
}

/* our custom classes overrule the styles for selected events,
   so lets define a new style for the selected events */
.vis-item.vis-selected {
  background-color: var(--ax-bg-default);
  border-color: black;
  box-shadow: 0 0 10px gray;
  color: black;
}

.vis-timeline {
  border: 0;
}

.timelineContainer {
  animation-duration: 2s;
  animation-name: fadein;
  animation-timing-function: ease-out;
  background-color: var(--ax-bg-default);
  max-height: 1600px;
  position: relative;
  transition: all 2s;
  width: 100%;
}

.timelineContainerExpanded {
  animation: open;
  animation-duration: 0.8s;
  max-height: 1600px;
  transition: all 2s;
}

.iconContainer {
  width: 100px;
}

.image {
  height: 30px;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 30px;
}

.sokerContainer {
  max-width: 100px;
}

.showDataPanel {
  height: 100%;
}

.hiddenpast {
  content: '';
  visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.detailsPeriode {
  background-color: var(--ax-success-200);
  margin-right: 8px;
  max-width: 500px;
  padding: 16px;
  width: 500px;
}

:global(.aksel-tag).tilkjentYtelseTag {
  border-radius: 0.25rem !important;
  border: 1px solid var(--border-default, rgb(2 20 49 / 49%)) !important;
  background: var(--surface-neutral-subtle, rgb(18 43 68 / 8%)) !important;
}

.showDataContainer {
  animation-duration: 1s;
  animation-name: fadeinContainer;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  color: black;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 20px;
}

@keyframes fadeinContainer {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  60% {
    opacity: 0.8;
    top: 0;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    max-height: 1000px;
    opacity: 1;
    top: 0;
  }
}
