.checkBlaIkon {
  padding-right: 0.5rem;
}

.container {
  background-color: rgba(204, 225, 243, 0.26);
  border: 1px solid #368da8;
  border-radius: 4px;
  padding: 1rem 1rem 0 1rem;
}

.rad {
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
}
