.statusCell {
  width: 2rem;
  padding-left: 0.875rem;
}

.selectableRow {
  cursor: pointer;
}

.selectedRow {
  /* stylelint-disable-next-line custom-property-pattern */
  background-color: var(--ax-bg-accent-moderateA);
}

.table {
  border-radius: 8px;
  overflow: hidden;
}
