.dokumentnavigasjon {
  min-width: 28.5rem;
}

.statusCell {
  width: 2rem;
  padding-left: 0.875rem;
}

.selectableRow {
  cursor: pointer;
}

.selectedRow {
  border-left: 5px solid var(--ax-text-accent-decoration);
}

.dokumentnavigasjon :global(.aksel-expansioncard__content) {
  overflow: visible;
  padding-inline: 0;
  padding-block: 0;
}

.dokumentnavigasjon :global(.aksel-expansioncard__content-inner) {
  padding: 0;
  overflow: visible;
}
