@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  width: 100%;
}

.fieldError {
  border: 1px solid @redError;
}

.error {
  color: @redError;
}

.firmaNavn {
  display: block;
  padding: 9px;
}
