.utenlandsopphold {
  max-width: 800px;

  &__info {
    background: inherit !important;
    border: none !important;

    span {
      font-size: 18px !important;
    }

    button div {
      gap: 10px;
      justify-content: normal !important;
    }

    &:hover,
    :focus {
      border: none !important;
      box-shadow: none !important;
    }
  }
}

.alertstripe {
  .alertstripe__tekst {
    max-width: 100%;
  }
}
