.utenlandsopphold {
  max-width: 800px;

  &__info {
    background: inherit !important;
    border: none !important;

    :global .ekspanderbartPanel__tittel {
      font-size: 18px !important;
    }

    :global .ekspanderbartPanel__flex-wrapper {
      gap: 10px;
      justify-content: normal;
    }

    &:hover {
      border: none !important;
      box-shadow: none !important;
    }
  }
}

.alertstripe {
  .alertstripe__tekst {
    max-width: 100%;
  }
}
