.modal {
  width: 750px;
}

.infotekstBeskrivelse {
  padding-top: 12px;
}

.image {
  height: 25px;
  margin-top: 10px;
  width: 25px;
}

.divider {
  border-left: 1px solid #a0a0a0;
  border-right: 0 solid #a0a0a0;
  display: inline;
  float: right;
  height: 37px;
  margin-left: 15px;
  position: absolute;
  top: 5px;
}

.floatButtons {
  display: flex;
  gap: 0.625rem;
}
