@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.modal {
  padding: 2.25rem 5.125rem 2.25rem 3rem;
  width: 38.375rem;
}

.textArea {
  margin-bottom: 2.25rem;
}

.submitButton:global(.navds-button) {
  margin-right: 1.5rem;
}

.tittel:global(.typo-systemtittel) {
  margin-bottom: 1.5rem;
}

.buttonContainer {
  margin-top: 2.5rem;
}

.aksjonspunktHeading {
  margin-top: 2rem;
}

.textareaContainer {
  margin-top: 2rem;
}

.errorMessage:global(.navds-error-message) {
  margin-top: 1rem;
}
