.behandlingPicker {
  margin-bottom: 2rem;
  margin-top: 3.125rem;
}
.behandlingPicker .backButton {
  /* stylelint-disable-next-line declaration-no-important */
  border: none !important;
  margin-bottom: 0.25rem;
  margin-left: -0.25rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-decoration: underline;
  text-transform: none;
}
.behandlingList {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 1rem;
  padding: 0;
  width: 100%;
}
.behandlingList li {
  width: 100%;
}
.behandlingList > li:not(:first-child) {
  margin-top: 16px;
}
.linkToBehandling,
.toggleShowAllButton {
  background: none;
  border: 0;
  color: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  width: 100%;
}
.linkToBehandling:hover,
.toggleShowAllButton:hover {
  cursor: pointer;
  text-decoration: none;
}
.linkToBehandling:hover > :first-child,
.toggleShowAllButton:hover > :first-child {
  background: #f1f1f1;
}
.linkToBehandling:visited {
  color: inherit;
}
.linkToBehandling:focus,
.toggleShowAllButton:focus {
  outline: none;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
