.behandlingSelectedContainer {
  background: #f7f7f7;
  border: 1px solid #a0a0a0;
  border-radius: 0.273684rem;
  margin-top: 0.75rem;
  padding: 1.375rem;

  &.aapen {
    background: #fff9f0;
    border: 1px solid #d47b00;
  }

  .dateContainer {
    align-items: end;
    display: flex;
    margin-top: 0.0625rem;
  }

  .resultContainer {
    align-items: end;
    display: flex;
    margin-top: 0.0625rem;
  }

  .opprettet {
    border-left: 1.1948px dashed #a0a0a0;
    margin-left: 1.625rem;
    padding: 0 0 2.0625rem 2.0625rem;
    position: relative;
  }

  .opprettetIcon {
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    height: 1.8125rem;
    justify-content: center;
    left: -0.9375rem;
    position: absolute;
    top: 0;
    width: 1.8125rem;
  }

  .opprettetTittel {
    font-size: 1.125rem;
    padding-top: 0.1875rem;
  }

  .opprettetDetails {
    display: flex;
  }

  .timeline {
    margin-top: 1.25rem;
  }

  .opprettetÅrsak {
    font-style: italic;
  }

  .kalenderIcon {
    height: 1.25rem;
    margin-right: 0.75rem;
    margin-top: -0.125rem;
    width: 1.25rem;
  }

  .utfallImage {
    height: 1.25rem;
    margin-right: 0.625rem;
    margin-top: -0.125rem;
    width: 1.25rem;
  }

  .infoContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .flexContainer {
    display: flex;
  }

  .marginRight4 {
    margin-right: 0.25rem;
  }

  .marginTop8 {
    margin-top: 0.5rem;
  }

  .marginTop2 {
    margin-top: 0.125rem;
  }

  .font18 {
    font-size: 1.125rem;
  }

  .årsakerContainer {
    margin-top: 1.375rem;
  }

  .årsakerList {
    list-style-type: none;
    margin-top: 0.625rem;
    padding: 0;

    li {
      margin-left: 0.9375rem;
      padding: 0 0 0.75rem 0.75rem;
      position: relative;

      &:before {
        align-items: center;
        background-color: #0067c5;
        border-radius: 50%;
        content: '';
        display: flex;
        height: 0.75rem;
        justify-content: center;
        left: -0.4375rem;
        position: absolute;
        top: 0.3125rem;
        width: 0.75rem;
        z-index: 1;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    p {
      padding-left: 0.25rem;
    }
  }

  .faktapanelLenke {
    display: flex;
    margin-top: 1.25rem;
  }
}
