.nyeDokumenterSomKanP책virkeEksisterendeVurderinger {
  max-width: 75.25rem;
}

.nyeDokumenterSomKanP책virkeEksisterendeVurderinger__dokumentLink {
  margin-left: 0.5rem;
}

.nyeDokumenterSomKanP책virkeEksisterendeVurderinger__ikonContainer {
  position: relative;
  top: 6px;
  margin-right: 0.5rem;
}

.nyeDokumenterSomKanP책virkeEksisterendeVurderinger__content {
  border: 2px solid #ff9100;
  padding: 1.25rem;
}
