@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.nokkeltall article {
  background-color: @white;
  box-shadow: 2px 2px 2px -1px @navGra20;
  margin-bottom: 0.5em;
  outline: 1px solid @navLysGra;
  &.viserDetaljer { padding-bottom: 0.5rem; }
}

.overskrift {
  align-items: stretch;
  background-color: inherit;
  border-bottom: none;
  border-left: 5px solid;
  border-right: none;
  border-top: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: 100%;

  &:hover { cursor: pointer; }

  &:focus {
    outline: none;

    .knapp {
      border-radius: 5px;
      outline: 2px solid @navBla;
      &:hover { cursor: pointer; }
    }
  }

  > * { padding: 0.1em 0; }
}

.knapp {
  background-color: inherit;
  border: none;
  color: @navBla;
  font-size: 0.9em;
  padding: 0.2em;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.dagerNavKanUtbetale .overskrift { border-color: @navLilla; }
.dagerSokerHarRettPa .overskrift { border-color: @navLysBla; }
.dagerNavHarUtbetalt .overskrift { border-color: @redError; }
.restdager .overskrift { border-color: @navGronn; }

.overskrifttekst {
  font-size: 0.8em;
  font-weight: bold;
}

.banner {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  > * { margin: 0 0.5em; }
  .overskrifttekst { font-size: 1em; }
}

tbody:nth-child(odd) .banner { background-color: #f7f7f7; }

.dagerOgTimer {
  align-items: baseline;
  display: flex;
  flex: 0 0 80px;
  font-size: 1.3em;
  > * { display: inline; }
}

.dager {
  font-weight: bold;
  margin-left: 0.5em;
}

.timer {
  font-size: 0.7em;
  margin: 0 0.5em;
}

.detaljer {
  align-items: baseline;
  border-left: 5px solid @white;
  display: flex;
  flex-wrap: nowrap;
  .dager { font-weight: normal; }
}

.detaljoverskrift {
  flex: 0 0 160px;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0.5em;
}

.detaljinfotekst {
  font-size: 0.9em;
  margin-right: 1em;
}

.varselOmMigrertData { margin-bottom: 1rem; }
