@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.spaceBetween {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.graBoks {
  background-color: @navLysGra;
  margin-bottom: 1em;
  padding: 1em;
}

.sentrert {
  text-align: center;
}

.vertikaltSentrert {
  vertical-align: middle;

  p {
    padding-bottom: 0 !important;
  }
}

.modalInnhold {
  padding: 32px;
}
