.nokkeltall article {
  background-color: var(--a-white);
  box-shadow: 2px 2px 2px -1px #c9c9c9;
  margin-bottom: 0.5em;
  outline: 1px solid #f1f1f1;
}

.nokkeltall article.viserDetaljer {
  padding-bottom: 0.5rem;
}

.overskrift {
  align-items: stretch;
  background-color: inherit;
  border-bottom: none;
  border-left: 5px solid;
  border-right: none;
  border-top: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: 100%;
}

.overskrift:hover {
  cursor: pointer;
}

.overskrift:focus {
  outline: none;
}

.overskrift:focus .knapp {
  border-radius: 5px;
  outline: 2px solid var(--a-blue-500);
}

.overskrift:focus .knapp:hover {
  cursor: pointer;
}

.overskrift > * {
  padding: 0.1em 0;
}

.knapp {
  background-color: inherit;
  border: none;
  color: var(--a-blue-500);
  font-size: 0.9em;
  padding: 0.2em;
  text-decoration: underline;
}

.knapp:hover {
  cursor: pointer;
  text-decoration: none;
}

.dagerNavKanUtbetale .overskrift {
  border-color: var(--a-purple-500);
}

.dagerSokerHarRettPa .overskrift {
  border-color: #var(--a-lightblue-500);
}

.dagerNavHarUtbetalt .overskrift {
  border-color: #ba3a26;
}

.restdager .overskrift {
  border-color: var(--a-green-500);
}

.overskrifttekst {
  font-size: 0.8em;
  font-weight: bold;
}

.banner {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.banner > * {
  margin: 0 0.5em;
}

.banner .overskrifttekst {
  font-size: 1em;
}

tbody:nth-child(odd) .banner {
  background-color: #f7f7f7;
}

.dagerOgTimer {
  align-items: baseline;
  display: flex;
  flex: 0 0 80px;
  font-size: 1.3em;
}

.dagerOgTimer > * {
  display: inline;
}

.dager {
  font-weight: bold;
  margin-left: 0.5em;
}

.timer {
  font-size: 0.7em;
  margin: 0 0.5em;
}

.detaljer {
  align-items: baseline;
  border-left: 5px solid var(--a-white);
  display: flex;
  flex-wrap: nowrap;
}

.detaljer .dager {
  font-weight: normal;
}

.detaljoverskrift {
  flex: 0 0 160px;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0.5em;
}

.detaljinfotekst {
  font-size: 0.9em;
  margin-right: 1em;
}

.varselOmMigrertData {
  margin-bottom: 1rem;
}

.aktivitetTabell {
  margin-top: 1em;
}

.aktivitetTabell td,
.aktivitetTabell th {
  padding: 0.5rem;
  position: relative;
  text-align: left;
}

.aktivitetTabell th:first-child {
  width: 25%;
}

.aktivitetTabell th:nth-child(2) {
  width: 20%;
}

.aktivitetTabell th:nth-child(3) {
  width: 20%;
}

.aktivitetTabell th:nth-child(4) {
  width: 20%;
}

.aktivitetTabell th:nth-child(5) {
  width: 10%;
}

.aktivitetTabell th:nth-last-child(1) {
  width: 5%;
}

.aktivitetTabell tbody tr:first-child td {
  border-top-width: 0;
}

.aktivitetTabell tr {
  cursor: default;
}

.aktivitetTabell tbody,
.aktivitetTabell thead {
  border-bottom: 1px solid;
  border-bottom-color: #a0a0a0;
}

.aktivitetTabell tbody:nth-child(even),
.aktivitetTabell thead:nth-child(even) {
  background-color: #f7f7f7;
}

.fanerad td {
  padding: 0;
}

.fanewrapper {
  border-top: 1px solid #a0a0a0;
  display: flex;
  margin: 0 0.5rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.innholdsrad td {
  padding-bottom: 1rem;
  padding-top: 0;
}

.innholdsrad td:first-child {
  padding-left: 1rem;
}

.innholdsrad td:last-child {
  padding-right: 1rem;
}

.utvidelsesknapp {
  background: inherit;
  border: none;
  cursor: pointer;
  line-height: 17px;
}

.deaktivertFane {
  color: #6a6a6a;
  margin: 2px 0.5rem 2px 2px;
  text-decoration: underline;
  text-decoration-color: #c9c9c9;
}

.knappForAlleUtregninger {
  background-color: inherit;
  border: none;
  color: var(--a-blue-500);
  font-size: 0.9em;
  margin-left: auto;
  padding: 0.2em;
  text-decoration: underline;
}

.knappForAlleUtregninger:hover {
  cursor: pointer;
  text-decoration: none;
}

.knappForAlleUtregninger:focus {
  outline: 2px solid var(--a-blue-500);
}

.knappForAlleUtregninger img {
  height: 24px;
  margin-left: 0.5em;
  pointer-events: none;
  width: 24px;
}

.vilkar {
  white-space: nowrap;
}

.utfallsikon img {
  height: 20px;
  margin-right: 0.5em;
  width: 20px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.starImage {
  height: 1.25rem;
  margin-right: 0.25rem;
  margin-top: -0.25rem;
  width: 1.5rem;
}

.starImage.hidden {
  opacity: 0;
}

.ikkeGjeldendeBehandling {
  padding-left: 1.75rem;
}
