.utvidetRad {
  padding: 8px;
  vertical-align: bottom;
}

tbody tr td.utvidetRad:hover {
  cursor: auto;
}

.paddingTop {
  padding-top: 1em;
}

.utfallImg {
  height: 1.3em;
  margin-right: 0.5em;
  width: 1.3em;
}
