.innleggelsesperiodeFormModal {
    overflow: visible;
    max-width: 475px;
    color: #262626;

    legend {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    &__pickerLabels {
        display: flex;
    }

    &__firstLabel {
        width: 192px;
    }
}
