.image {
  height: 20px;
  margin-left: 10px;
  width: 25px;
}

.starIcon {
  color: var(--ax-warning-500);
  height: 1.25rem;
  margin-bottom: -0.25rem;
  margin-left: 0.625rem;
  width: 1.5625rem;
}

.noDocuments {
  margin-top: 30px;
}

.borderTop {
  border-top: 0.15em solid #3e3832;
}

.modiaLink {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.externalIcon {
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

.controlsContainer {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.documentAnchor {
  text-decoration: underline;
}

.documentAnchor:visited {
  color: var(--ax-meta-purple-600);
}

.documentAnchorPlain {
  color: inherit;
  display: flex;
  text-decoration: none;
}
