.container {
  background-color: #ba3a26;
  color: var(--a-white);
  display: block;
  max-height: 120px;
  min-height: 53px;
  overflow: hidden auto;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-top: 5px;
  position: relative;
}

.link {
  background: none;
  border: 0;
  border-bottom: solid 1px var(--a-white);
  color: var(--a-white);
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.link:focus,
.link:hover {
  border-bottom-color: #a0a0a0;
  color: #a0a0a0;
}

.lukkContainer {
  font-size: 18px;
  position: absolute;
  right: 16px;
  top: 10px;
}

.wordWrap {
  white-space: pre-line;
}

.closeButton {
  --ac-button-secondary-border: white;

  color: white;
}
