.saksbehandler {
  --ac-chat-avatar-bg: var(--a-purple-100);
  --ac-chat-bubble-bg: var(--a-purple-100);
}

.beslutter {
  --ac-chat-avatar-bg: var(--a-green-100);
  --ac-chat-bubble-bg: var(--a-green-100);
}

.vedtakslosningen {
  --ac-chat-avatar-bg: #f1f1f1;
  --ac-chat-bubble-bg: #f1f1f1;
}

.arbeidsgiver {
  --ac-chat-avatar-bg: var(--a-lightblue-100);
  --ac-chat-bubble-bg: var(--a-lightblue-100);
}

.soker {
  --ac-chat-avatar-bg: #fff2e0;
  --ac-chat-bubble-bg: #fff2e0;
}

.chatRight {
  margin-left: auto;
}

@media screen and (width >= 1350px) {
  .chatLeft,
  .chatRight {
    max-width: calc(100% - 40px);
  }
}
