.container {
  margin-bottom: 20px;
  width: 550px;
}

button.button {
  margin-left: 0.5rem;
  margin-top: 2rem;
}

.advarselIcon,
.feilmelding {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}
