.bakgrunnsBar {
  background-color: #e5e5e5;
  border-radius: 1.5rem;
  height: 2rem;
}

.gronnBar {
  background-color: var(--a-green-200);
  border: 1px solid var(--a-green-500);
  border-radius: 1.5rem;
  box-sizing: border-box;
  height: 2rem;
  margin-top: -2rem;
}

.gulBar {
  background-color: var(--a-orange-200);
  border: 1px solid var(--a-orange-500);
  border-radius: 1.5rem;
  box-sizing: border-box;
  height: 2rem;
  margin-top: -2rem;
}

.antallTitler {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
  text-align: center;
}
