.gridContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.leftColumn {
  float: left;
  width: 67%;
}

.rightColumn {
  float: right;
  width: 33%;
}

.rightColumn > div {
  margin-bottom: 16px;
}

@media all and (width <= 1350px) {
  .leftColumn {
    width: 100%;
  }

  .rightColumn {
    margin-left: 0;
    width: 100%;
  }
}

@media all and (width >= 1350px) {
  .rightColumn {
    border-left: 1px solid #6a6a6a;
  }
}

@media all and (width <= 1350px) {
  .rightColumn {
    border-top: 1px solid #6a6a6a;
  }
}
