.timeLineButton {
  background-color: var(--a-white);
  border: 0 solid;
  height: 26px;
  margin-left: 8px;
  width: 26px;
}

.timeLineButton:focus {
  box-shadow: 0 0 0 3px #ffbd66;
  outline: none;
}

.timeLineButton img:last-child {
  display: none;
}

.timeLineButton:hover img:first-child {
  display: none;
}

.timeLineButton:hover img:last-child {
  display: inline-block;
}

.timeLineButton:active img:last-child {
  display: inline-block;
}

.splitPeriodPosition {
  margin-left: -1.875rem;
  margin-top: -0.75rem;
}
