.opplysningerFraVedtak {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.opplysningerFraVedtak h4:first-child {
    margin-top: 0;
}
.opplysningerFraVedtak h4 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.opplysningerFraVedtak p {
    margin: 0;
}
