.pencilSvgContainer {
  position: relative;
}

.ulesteNotater {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  background-color: #c30000;
  left: calc(50% + 7px);
  top: -0.4375rem;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.pencilSvgFill {
  margin-bottom: 0.5rem;
}

.pencilSvg {
  margin-bottom: 0.5rem;
}
