name: "Storybook Tests"
permissions:
  contents: read
  packages: read
on:
  workflow_call:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    steps:
      - name: Hente kode
        uses: actions/checkout@v6

      - name: Setup + Install
        uses: ./.github/actions/setup-install
        with:
          npmAuthToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Storybook tests
        run: yarn test-storybook
