name: Tester
permissions:
  contents: read
  packages: read

on:
  workflow_call:

jobs:
  enhetstester:
    name: Kjør enhetstester
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v5

      - name: Setup + Install
        uses: ./.github/actions/setup-install
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - name: Kjører tester
        # Parallelisering styres nå via vite.config.js når CI=true. Ingen behov for CLI-flagg her.
        run: yarn test --silent
