name: Tester
permissions:
  contents: read
  packages: read

on:
  workflow_call:

jobs:
  node-tests:
    name: Vitest (node)
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v5

      - name: Setup + Install
        uses: ./.github/actions/setup-install
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - name: Kjør node tester
        env:
          CI: true
        run: |
          yarn vitest run --config vitest.config.node.ts --silent

  dom-tests:
    name: Vitest (jsdom)
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v5

      - name: Setup + Install
        uses: ./.github/actions/setup-install
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - name: Kjør dom tester
        env:
          CI: true
        run: |
          yarn vitest run --config vitest.config.dom.ts --silent
