name: Valider pull request
permissions:
  contents: read
  packages: read
  pull-requests: write
on: [pull_request]
jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  build-docker-image-verdikjede:
    if: github.actor != 'dependabot[bot]'
    name: Build Docker image for verdikjede
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: read
    outputs:
      tag: ${{ steps.build-version.outputs.tag }}
      image-artifact-name: ${{ steps.docker-push.outputs.image-artifact-name }}
    steps:
      - name: Hente kode
        uses: actions/checkout@v6

      - name: Sett build version
        id: build-version
        run: echo "tag=$(date +%Y.%m.%d-%H.%M)-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Setup + Install
        uses: ./.github/actions/setup-install
        with:
          npmAuthToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Bygge dist
        run: yarn build

      - name: Bygg server
        uses: ./.github/actions/build-server

      - name: Build and push to docker registry
        uses: navikt/sif-gha-workflows/.github/actions/maven/build-push-docker-image@main
        id: docker-push
        with:
          build-version: ${{ steps.build-version.outputs.tag }}
          without_navikt_prefix: true
          push-image: false
          upload-image: true

  verdikjede-tester:
    if: github.actor != 'dependabot[bot]'
    name: Verdikjedetester
    secrets: inherit
    permissions:
      id-token: write
      contents: read
      packages: read
    uses: navikt/sif-gha-workflows/.github/workflows/verdikjede-test-v2.yml@main
    needs: build-docker-image-verdikjede
    with:
      tag: ${{ needs.build-docker-image-verdikjede.outputs.tag }}
      suites: 'frontend'
      override_image_artifact_name: ${{ needs.build-docker-image-verdikjede.outputs.image-artifact-name }}
      image_version: ${{ needs.build-docker-image-verdikjede.outputs.tag }}

  storybook-test:
    uses: ./.github/workflows/storybook-tests.yml
    secrets: inherit

  lint-tscheck-build:
    uses: ./.github/workflows/lint-tscheck-build.yml
    secrets: inherit
    with:
      run-build: true

  knip:
    uses: ./.github/workflows/knip.yml
    secrets: inherit
