name: Valider pull request
on: [pull_request]
jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  storybook-test:
    uses: ./.github/workflows/storybook-tests.yml
    secrets: inherit

  lint-tscheck-build:
    uses: ./.github/workflows/lint-tscheck-build.yml
    secrets: inherit
    with:
      run-build: true
