name: Valider pull request
permissions:
  contents: read
  packages: read
  id-token: write
  pull-requests: write
on:
  pull_request:
jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  verdikjede:
    uses: ./.github/workflows/verdikjede.yml
    secrets: inherit

  storybook-test:
    uses: ./.github/workflows/storybook-tests.yml
    secrets: inherit

  lint-tscheck-build:
    uses: ./.github/workflows/lint-tscheck-build.yml
    secrets: inherit
    with:
      run-build: true

  knip:
    uses: ./.github/workflows/knip.yml
    secrets: inherit
